{% extends "::base.html.twig" %}

{% set breadcrumbs = null%}


{% block body %}
    <div class="wrapper row-offcanvas row-offcanvas-left" style="background-color: white;">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            {% block sidebar %}
                {% include "ThemeBundle:Default:sidebar.html.twig"%}
            {% endblock sidebar %}             
            <!-- /.sidebar -->
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">

            <section class="content-header">
                <h1>
                    {{ dashboard |default('Dashboard') }}
                    <small>{{ controlPanel |default('Control panel') }}</small>
                </h1>

                {% block breadcrumbs %}
                    <ol class="breadcrumb">
                        
                    </ol>
                {% endblock %}                                                    
                
            </section>

            <!-- Main content -->

            <section class="content">
                {% block contenido %}


                {% endblock %}

            </section><!-- /.content -->

            <!-- Content Header (Page header) -->                
        </aside><!-- /.right-side -->
    </div>
{% endblock %}