{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block title %}Empadronador | Responsable{% endblock%}

{% block contenido %}   
    {% set entitiesCount  = entities |length %}  

    <div class="row">            

        <div class="col-md-12">
            <div class="box box-bordered">
                <!--<div class="box-header">
                    <h3 class="box-title">Filtros</h3>
                </div><!-- /.box-header -->
                <div class="box-title redondeame-arriba">
                    <h3><i class="icon-filter"></i>Filtros</h3>
                </div>

                <div class="box-body">
                    {% if app.request.get('flag') %}
                        <div class="alert alert-warning alert-dismissable">
                            <i class="fa fa-warning"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <b>Alerta !</b> primero debes selecionar el personal.                                                                                                                                
                        </div>
                    {% endif %}     
                                                            
                                                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">            

        <div class="col-md-12">
            
                <div class="table-toolbar">
                    <div class="btn-group">
                        <a href="{{ path('personal_new')}}"><button class="btn btn-success">Agregar <i class="icon-plus icon-white"></i></button></a>
                    </div>                                                                                                            


                    <div class="btn-group pull-right">

                        <button data-toggle="dropdown" class="btn dropdown-toggle">Herramientas <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Imprimir</a></li>
                            <li><a href="#">Guardar como PDF</a></li>
                            <li><a href="#">Exportar a Excel</a></li>
                        </ul>
                    </div>
                </div>
            
        </div>
    </div>



    <div class="row">
        {% if entitiesCount > 0 %}
            <div class="col-md-12">
                
                    <table class="display table table-bordered table-hover" cellspacing="0" width="100%" id="responsables">

                        <thead>
                            <tr>

                                <th>DNI</th>
                                <th>Nombre Completo</th>
                                <th>Cargo</th>
                                <th>Acciones</th> 

                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}                                                                                                                
                                
                                <tr>                                            
                                    <td>{{ entity.id }}</td>
                                    <td>{{ entity.personal }}</td>
                                    <td>{{ entity.cargo }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            
                        </div>
                        {% else %}
                            <div class="alert alert-info redondeame margin-top-20">
                                <a class="close" href="#" data-dismiss="alert">×</a>

                                <p>Sin Resultados</p>
                            </div>
                            {% endif %}
                            </div>

                            {% endblock %}


                                {% block javascripts %}
                                    {% spaceless %}

                                        {{ parent() }}
                                        <script type="text/javascript">
                                            $(function () {

                                                $('#responsables').dataTable({
                                                    "oLanguage": {
                                                        "sSearch": "Buscar:",
                                                        "sZeroRecords": "No hay registros para mostrar",
                                                        "sLengthMenu": "Mostrar _MENU_ registros",
                                                        "sInfoEmpty": "No hay entradas para mostrar",
                                                        "sEmptyTable": "Sin informacion disponible en la tabla",
                                                        "sInfoFiltered": " - Mostrando de _MAX_ registros",
                                                        "oPaginate": {
                                                            "sPrevious": "Pagina Anterior",
                                                            "sNext": "Pagina siguiente"
                                                        }


                                                    },
                                                    "bPaginate": true,
                                                    "bLengthChange": false,
                                                    "bFilter": true,
                                                    "bSort": true,
                                                    "bInfo": false,
                                                    "bAutoWidth": true
                                                });

                                                $("a").tooltip({placement: 'top'});
                                            });
                                        </script>

                                    {% endspaceless %}
                                {% endblock %}
