{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}


{% block contenido -%}
<div class="row">
        {{ form_errors(form)}}
        
    <form action="{{ path('responsable_create', { 'id': personal}) }}" method="post" {{ form_enctype(form) }}>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                        <span class="glyphicon glyphicon-user"></span>
                        <h3 class="box-title">Datos Personales</h3>
                </div>
                
                <div class="box-body">
                        {% for row in form.children%}
                        <div class="form-group">
                            <label class="control-label" for="{{ row.vars.id}}" >{{ row.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(row)}}
                        </div>   
                        {% endfor %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>                            
                            <a href="{{ path('responsable')}}" class="btn btn-default">Volver al listado</a>
                        </div>
                </div>   
            </div>    
        {{ form_widget(form) }}
        
        </div>
    </form>
</div>

        
{% endblock %}
