

                {%- for action in record_actions %}

                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity.id }) }}" }}" class="btn" title="{{ action }}"><i class="icon-{{ action }}"></i></a>

                {%- endfor %}

