{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig'%}


{% block title %} Acceso Denegado {% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-12">
         <div class="wrapper">
      
		<div class="code"><i class="icon-warning-sign"></i></div>
                <div class="desc">
                    <img src="{{ asset('bundles/theme/img/acceso_denegado.jpg')}}"/>
                </div>
		
		<div class="buttons">
                    <div class="pull-left"><a title="Volver a la página principal"  href="{{path('dashboard')}}" class="btn"><i class="icon-arrow-left"></i> Volver</a></div>
		</div>
	</div>    

        </div>
    </div>
{% endblock %}