<!DOCTYPE html>
<html class="bg-black">
    <head>
        <meta charset="UTF-8">
        <title>CentroDia | Log in</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->        
        <link href="{{ asset('bundles/theme/css/AdminLTE.css')}}" rel="stylesheet" type="text/css" />
        
    </head>
    
</html>
  


{% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}


