{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block title %} Usuarios {% endblock %} 

{% block contenido %}   
    {% set entitiesCount  = entities |length %}  

    <div class="row">            
        {% if entitiesCount > 0 %}
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header box box-solid" style="background-color: #ffb380">
                        <span class="glyphicon glyphicon-user"></span>
                        <h3 class="box-title">USUARIOS</h3>
                    </div>

                    <div class="box-body box">
                        <form class="form-horizontal form-column" id="usuarios-filters" action="{{ path('administracion_usuarios') }}" method="post" {{ form_enctype(formFilter) }}>

                            {% for row in formFilter %}
                                <div class="col-lg-3 col-xs-6">
                                    <!-- small box -->
                                    <div class="small-box bg-aqua">
                                        <div class="control-group">
                                            {{ form_label(row) }} <div class="controls">{{ form_widget(row) }}</div>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-lg-3 col-xs-12">
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary"><i class="icon-filter"></i> Buscar</button>
                                        <button type="button" id='filter-reset' class="btn">Reiniciar</button>
                                    </div>
                                </div>
                            </div>
                        </form> 



                        {% for flashMessage in app.session.flashbag.get('ok') %}                                                
                            <div class="alert alert-success alert-dismissable">
                                <i class="fa fa-check"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <b>OK!</b> {{ flashMessage }}
                            </div>
                        {% endfor %}

                        <div class="table-toolbar">
                            <div class="btn-group">
                                <a href="{{ path('personal', { 'flag': 1 })}}"><i class="btn btn-primary fa fa-plus">Agregar</i></a>

                            </div>


                            <div class="btn-group pull-right">                                

                                <button data-toggle="dropdown" class="btn dropdown-toggle">Herramientas <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Imprimir</a></li>
                                    <li><a href="#">Guardar como PDF</a></li>
                                    <li><a href="#">Exportar a Excel</a></li>
                                </ul>
                            </div>
                        </div>




                        <table class="display table table-bordered" cellspacing="0" width="100%" id="usuarios">

                            <thead class="table-header">
                                <tr>                                        
                                    <th>Nombre de usuario</th>
                                    <th>Email</th>                                                                                
                                    <th>Cargo</th>                                            
                                    <th>Roles</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for entity in entities %}

                                    <tr>                                            
                                        <td>
                                            {{ entity.username }}
                                            <a data-container="body" data-toggle="popover" title="Informacn" data-content="{{ entity.personal.nombre ~" "~ entity.personal.apellido ~"  "~ entity.personal.telefono}}"><i class="fa fa-info-circle"></i></a>
                                        </td>                                            
                                        <td>{{ entity.email }}</td>                                           
                                        <td>{% if entity.personal.cargo != null %} {{ entity.personal.cargo }} {% endif %}</td>                                                                                                                                                                                                                                                                            
                                        <td>
                                            {% for rol in entity.roles %}
                                                {{ rol }},
                                            {% endfor %}    
                                        </td>   
                                        <td>
                                            <a href="{{ path('usuario_edit', { 'id': entity.id })}}" title="Editar"><i class="fa fa-edit"></i></a>
                                            <a href="{{ path('usuario_perfil', { 'id': entity.id })}}" title="Ver Perfil"><i class="fa fa-eye"></i></i></a>
                                        </td>


                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info redondeame margin-top-20">
                <a class="close" href="#" data-dismiss="alert">×</a>

                <p>Sin Resultados</p>
            </div>
        {% endif %}
    </div>


{% endblock %}


{% block javascripts %}
    {% spaceless %}

        {{ parent() }}
        <script type="text/javascript">
            $(function () {

                $('#usuarios').dataTable({
                    "oLanguage": {
                        "sSearch": "Buscar:",
                        "sZeroRecords": "No hay registros para mostrar",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sInfoEmpty": "No hay entradas para mostrar",
                        "sEmptyTable": "Sin informacion disponible en la tabla",
                        "sInfoFiltered": " - Mostrando de _MAX_ registros",
                        "oPaginate": {
                            "sPrevious": "Pagina Anterior",
                            "sNext": "Pagina siguiente"
                        }


                    },
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": false,
                    "bAutoWidth": false
                });
                $('td:eq(1)a').popover()

            });


        </script>

    {% endspaceless %}
{% endblock %}
