
{% set flag = 0 %}

<div class="row">
    <section class="info">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <h3 class="box-title">Horario Diario </h3>
                </div>
                <div class="box-body">
                    <div id="calendar">
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header">
                <span class="glyphicon glyphicon-book"></span>
                <h3 class="box-title">Ultimos Informes Realizados</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                {% if flag > 0 %}
                <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    <div class="panel box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Lucas Cabral
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="box-body">
                                Esta muy pelotudo ultimamente
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Mercedes Cabral
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="box-body">
                                Muy inteligente, es un gran avance
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Benjamin Tapia
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="box-body">
                                Muy vago y tiene mucho levante con las minitas todas se las quieren coger
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="alert alert-warning alert-dismissable">
                                        <i class="fa fa-warning"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <b>Alerta!</b> No hay informes realizados por usted.
                                    </div>
                {% endif %}
            </div><!-- /.box-body -->
        </div><!-- /.box -->
        <div class="box box-solid box-info">
                                <div class="box-header">
                                    <h3 class="box-title">Taller/es</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-info btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-info btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    Informatica
                                    <p>
                                        amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                                        berliner weisse wort chiller adjunct hydrometer alcohol aau!
                                        sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
                                    </p>
                                </div><!-- /.box-body -->
                            </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-3 col-xs-6">

        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    Mis Talleres
                </h3>

                {% set talleresCount = app.user.personal.talleres | length %}

                {% if talleresCount > 0 %}

                    {% for taller in app.user.personal.talleres%}
                        <p>
                            {{ taller.nombre }}
                        </p>
                    {% endfor %}

                {% else %}
                    <p>No tiene talleres</p>
                {% endif %}

            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">
                Ver todos <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>


        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    Ultimos Informes Registrados
                </h3>
                <p>
                    <a href="#">Pepe </a>
                </p>
                <p>
                    <a href="#">Juan </a>
                </p>

                <p>
                    <a href="#">Pedro </a>
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
                Ver todos <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>

