{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}


{% block title %}Profesor {% endblock%}  

{% block contenido %}

    <section class="content">

        <!-- small box -->
        {% if app.user.hasRole('ROLE_PROFESOR') %}
            {% include "UsuarioBundle:Home:profesorDashboard.html.twig"%}
        {% endif %}

        {% if app.user.hasRole('ROLE_SECRETARIO') %}
            {% include "UsuarioBundle:Home:secretarioDashboard.html.twig"%}
        {% endif %}

        {% if app.user.hasRole('ROLE_ADMIN') %}
            {% include "UsuarioBundle:Home:adminDashboard.html.twig"%}
        {% endif %}

    </section>

{% endblock  %}



{% block javascripts %}
    {% spaceless %}
        {{ parent() }}  

        <script type="text/javascript">

            $(function () {
                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();

                var currentLangCode = 'es';
                var current = '{{"now"|date('Y-m-d')}}';
                $('#calendar').fullCalendar({
                    header: {
                        left: 'today prev,next',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    views: {
                        agendaWeek: {
                            type: 'agenda',
                            duration: {days: 5},
                            buttonText: '5 dias'
                        }
                    },
                    columnFormat: {
                        month: 'ddd',
                        week: 'ddd ',
                        day: 'dddd M/d'
                    },
                    firstDay: 1,
                    weekends: false,
                    //theme: true,
                    timezone: 'America/Argentina/Buenos_Aires',
                    defaultView: 'agendaDay',
                    slotEventOverlap: false,
                    slotDuration: '01:00:00',
                    //minTime: '8:00am',
                    //maxTime: '18:00pm',
                    defaultDate: current,
                    lang: currentLangCode,
                    editable: true,
                    dragRevertDuration: 0,
                    droppable: true,
                    eventLimit: true, // allow "more" link when too many events

                    events:
                            [
                                {
                                    title: 'Meeting',
                                    start: new Date(y, m, d),
                                    
                                    backgroundColor: 'red',
                                    borderColor: 'blue'
                                }
                            ],

                });

            });
        </script>
    {% endspaceless %}
{% endblock %}