{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% set label_boton = 'Guardar' %}

{% block title  %}
    Certificado
{% endblock  %}


{% if edit == true %}
    {% set action = path('certificado_create', { 'id': entity.id })  %}

{% else %}    
    {% set action = path('certificado_create', { 'id': id })  %}
{% endif %}

{% block contenido %}
    <div class="row">
        {{ form_errors(form)}}
        <form class="form-horizontal form-column" id="alumno-form" action="{{ action }}" method="post" {{ form_enctype(form) }}>                                        


            <div class="col-md-6">

                <div class="box box-primary">
                    <div class="box-header">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <h3 class="box-title">Datos del Certificado</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label" for="{{ form.alumno.vars.id}}" >{{ form.alumno.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.alumno)}}                            
                        </div>   
                                                                                                                                                                                              
                        <div class="form-group">
                            <div class="row">
                                                                    
                                    <div class="col-xs-4">
                                        <label class="control-label" for="{{ form.fechaEmision.vars.id}}" >{{ form.fechaEmision.vars.label }}<span class="required">*</span></label>                                                                                    
                                        {{ form_widget(form.fechaEmision)}}                                        
                                    </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.descripcion.vars.id}}" >{{ form.descripcion.vars.label }}</label>
                            {{ form_widget(form.descripcion)}}
                        </div>   
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.diagnostico.vars.id}}" >{{ form.diagnostico.vars.label }}</label>
                            {{ form_widget(form.diagnostico)}}
                        </div>   

                        <div class="form-group">
                            <div class="row">
                                                                    
                                    <div class="col-xs-4">
                                        <label class="control-label" for="{{ form.fechaVencimiento.vars.id}}" >{{ form.fechaVencimiento.vars.label }}<span class="required">*</span></label>                                                                                    
                                        {{ form_widget(form.fechaVencimiento)}}     
                                        {{ form_rest(form)}}
                                    </div>
                            </div>
                            
    
                                         
                        </div>                               
                    </div>
                </div>

                <div class="col-md-12">
                     <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>                            
                    <a  href="{{ path('alumnos') }}" class="btn btn-default">Volver</a>

                </div>
                    
                    
                </div>                             
            </div>   
                
                <div class="col-md-6">
                    {% for flashMessage in app.session.flashbag.get('ok') %}                                                
                        <div class="alert alert-success alert-dismissable">
                                        <i class="fa fa-check"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <b>OK</b> {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>    
        </form>
    </div>        




{% block javascripts %}{% spaceless %}
        {{ parent() }}

        <script type="text/javascript">

            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '<Ant',
                nextText: 'Sig>',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);

            $('.date').datepicker({
                 showOn: "button",
                 buttonImage: "{{ asset('bundles/theme/img/calendar.gif')}}",
                 buttonImageOnly: true, 
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/MM/yy ',
                yearRange: "-0:+1"
            });
            
            $(document).ready(function () {

                //$('.date').mask('99/99/9999');
                
            });
           
        </script>

    {% endspaceless %}
{% endblock %}
{% endblock %}










