{% extends "UsuarioBundle::layout.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <body>
        {% block body_login %}

            <div class="container">                
                <div class="row-fluid">   
                    <div class="col-md-3">  </div>
                    <div class="col-md-6">  
                        <div class="wrapper container-fluid">                    
                            <div class="login-body redondeame">

                                <h2 class="page-header"><i class="glyphicon glyphicon-user "></i> Datos de Acceso</h2>
                                {% if error %}
                                    <div class="alert alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>                    
                                {% endif %}
                                <div class="right">    
                                    <img src="{{ asset('bundles/theme/img/lock.png') }}"/>
                                </div>
                                <div class="cuadro">                            
                                    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                                        <label for="username">{{ 'security.login.username'|trans }}</label>
                                        <input type="text" id="username" placeholder="Nombre de Usuario" class="form-control" placeholder="Contraseña" class="form-control" required autocomplete="off" name="_username" value="{{ last_username }}" required="required" />

                                        <label for="password">{{ 'security.login.password'|trans }}</label>
                                        <input type="password" id="password" name="_password" required="required"  class="form-control"/>

                                        <div class="control-group right">
                                            <label for="remember_me">
                                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                                {{ 'security.login.remember_me'|trans }}
                                            </label>
                                        </div>                           
                                        <button class="btn btn-lg btn btn-block" type="submit">{{ 'security.login.submit'|trans }}</button>
                                    </form>
                                    <a href='{{ path('fos_user_registration_register') }}'>Registrate</a>
                                    <a href='{{ path('fos_user_resetting_request') }}'>Olvidaste tu contrasena</a>
                                </div>                                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">   
                           <a href=''>Registrate</a>
                    </div>

                </div>   
                
            </div>
                                                                       
            <hr >    
            <div class="row-fluid">
                    <div class="col-md-3">dsdsd</div>
                    <div class="col-md-6">                        
                            <p> Sistema Gestion Hogar </p>
                        
                    </div>
                </div>
        {% endblock body_login %}
    </body>  
{% endblock fos_user_content %}


