{% extends "UsuarioBundle::layout.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <body class="bg-black">
        <div class="logo1"><img src="{{ asset('bundles/theme/img/logo.png')}}"/></div>
        {% block body_login %}
            <div class="form-box" id="login-box">
                {% if error %}                
                    <div class="alert alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>                    
                {% endif %}


                <div class="header">Log In</div>
                <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                    <div class="body bg-gray">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" placeholder="Nombre de Usuario" class="form-control" placeholder="Contraseña" class="form-control" required autocomplete="off" name="_username" value="{{ last_username }}" required="required" />

                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required"  class="form-control"/>

                        <div class="form-group">
                            <input type="checkbox" name="remember_me"/> {{ 'security.login.remember_me'|trans }}
                        </div>
                    </div>
                    <div class="footer">
                        <button class="btn btn-lg btn btn-block" type="submit">Entrar</button>
                        
                        <p><a href="{{ path('fos_user_resetting_request')}}">Olvide mi contraseña</a></p>

                        <a href="{{ path('fos_user_registration_register')}}" class="text-center">Registrar un nuevo miembro</a>
                    </div>
                    
                </form>


            </div>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
        {% endblock body_login %}
    </body>  
{% endblock fos_user_content %}



