<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {% block block_css %}
                {% include "ThemeBundle:Default:block_css.html.twig"%}
            {% endblock block_css %}                       
        {% endblock %}                                

        <title>
        {% block title %}{% endblock %}
        </title>
</head>


<body class="skin-blue">
    {% include "ThemeBundle:Default:navbar_content.html.twig"%} 
    {% block body %}{% endblock %}
    
    {% block javascripts %}
            {% block block_js %}
                {% include "ThemeBundle:Default:block_js.html.twig"%}
            {% endblock block_js %}             
        {% endblock %}
</body>
</html>

