{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block body -%}
    <h1>Taller edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('taller') }}">
            Back to the list
        </a>
    </li>    
</ul>
{% endblock %}
