{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}


{% block title %}Administracion | Talleres {% endblock%}   


{% block contenido %}   
    {% set entitiesCount  = entities |length %}  

    <div class="row">
                    {% for flashMessage in app.session.flashbag.get('ok') %}                                                
                        <div class="alert alert-success alert-dismissable">
                                        <i class="fa fa-check"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <b>OK</b> {{ flashMessage }}
                        </div>
                    {% endfor %}
    </div>
    
    <div class="row">            
        {% if entitiesCount > 0 %}
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">TALLERES</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body">


                        <div class="table-toolbar">
                            <div class="btn-group">
                                <a href="{{ path('taller_new')}}"><button class="btn btn-success">Agregar <i class="icon-plus icon-white"></i></button></a>
                            </div>
                           
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="display table table-bordered table-hover" cellspacing="0" width="100%" >

                                    <thead>
                                        <tr class="table-header">
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>Descripcion</th>                                                                                
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in entities %}
                                            <tr {% if entity.personales | length > 0 %} class="success" {%else%}class="danger"{% endif %}>                                            
                                                <td>{{ entity.id }}</td>                                            
                                                <td>{{ entity.nombre }}
                                                    {% if entity.personales | length > 0 %}
                                                        {% for personal in entity.personales %}
                                                            <a href="#" data-toggle="tooltip" title="{{ personal }}"><i class="fa fa-user"></i></a>
                                                            {% endfor %}
                                                        {% endif %} 
                                                </td> 

                                                <td>{{ entity.descripcion }}</td>
                                                <td>

                                                    <a href="{{ path('taller_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-edit"></i></a>
                                                    <a href="{{ path('taller_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-edit"></i></a>
                                                    <a href="{{ path('horario_new', { 'id': entity.id }) }}" title="Cargar Horario Semanal"><i class="fa fa-clock-o"></i></a>
                                                </td>  
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info redondeame margin-top-20">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        <p>Sin Resultados</p>
                    </div>
                </div>
            {% endif %}
        </div>

        
    {% endblock %}
   