{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}    
<link href="{{asset('bundles/theme/js/plugins/asmSelect/css/jquery.asmselect.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/theme/js/plugins/jquery-mt-select/css/style.css')}}" rel="stylesheet" type="text/css" />
    
{% endblock stylesheets %} 



{% block title  %}
    Academico | Taller
{% endblock  %}

{% set edicion  = edicion|default(false) %}

{% if edicion == true  %}
        {% set action = path('taller_update', {'id': taller.id }) %}
    {% else %}    
        {% set action = path('taller_create') %}    
{% endif  %}   


{% block contenido %}
    <div class="row">
        {{ form_errors(form)}}
        <form class="form-horizontal form-column" id="taller-form" action="{{ action }}" method="post" {{ form_enctype(form) }}>                                        


            <div class="col-md-6">

                <div class="box box-info">
                    <div class="box-header">
                        <span class="glyphicon glyphicon-book"></span>
                        <h3 class="box-title">Datos del Taller</h3>
                    </div>
                    <div class="box-body">

                        {% for row in form.children %}
                            {% if loop.index != 3%}
                            <div class="form-group">
                                <label for="{{ row.vars.id}}">{{ row.vars.label }}</label>
                                {{ form_widget(row)}}
                                
                            </div>
                            {% endif%}

                        {% endfor %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>                            
                            <a href="{{ path('taller')}}" class="btn btn-default">Volver al listado</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header">
                        <span class="glyphicon glyphicon-book"></span>
                        <h3 class="box-title">ALUMNOS</h3>
                    </div>  
                    <div class="box-body">
                            
                           <div class="box-body">                                                                                                                    
                           
                           {{ form_widget(form.alumnos)}}                                        
                           {{ form_errors(form.alumnos)}}
                            </div>
                           
                        
                    </div>

                    
                </div>      
            </div>
            </form>                            

            {% endblock %}


            
{% block javascripts %}
    {% spaceless %}

        {{ parent() }}      
        <script src='{{asset('bundles/theme/js/plugins/jquery-browser/jquery.browser.min.js')}}' type="text/javascript"></script>
        <script src='{{asset('bundles/theme/js/plugins/asmSelect/js/jquery.asmselect.js')}}' type="text/javascript"></script>
        
        
       <script type="text/javascript">    
                $(document).ready(function() {
			$("select[multiple]").asmSelect({
				addItemTarget: 'bottom',
				animate: true,
				highlight: true,
				sortable: true
			});
			
		}); 
		

	
    

        </script> 
        
        

    {% endspaceless %}
{% endblock %}









