{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block contenido -%}
    <h1>Escuela</h1>

    <table class="record_properties">
        <tbody>
           
            <tr>
                <th>Cuit</th>
                <td>{{ entity.cuit }}</td>
            </tr>
            <tr>
                <th>Nombrecorto</th>
                <td>{{ entity.nombreCorto }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
