{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}    
    <link href="{{asset('bundles/theme/js/plugins/multiselect-widget/css/jquery.multiselect.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/theme/js/plugins/multiselect-widget/css/jquery.multiselect.filter.css')}}" rel="stylesheet" type="text/css" />

{% endblock stylesheets %} 


{% set label_boton = 'Guardar' %}

{% block title  %}
    Empadronador | Alumno
{% endblock  %}

{% set edicion  = edicion|default(false) %}

{% if edicion == true  %}
    {% set action = path('alumno_update', {'id': alumno.id }) %}
{% else %}    
    {% set action = path('alumno_create') %}    
{% endif  %}   


{% block contenido %}
    <div class="row">
        {{ form_errors(form)}}
        <form class="form-horizontal form-column" id="alumno-form" action="{{ action }}" method="post" {{ form_enctype(form) }}>                                        


            <div class="col-md-6">

                <div class="box box-primary">
                    <div class="box-header">
                        <span class="glyphicon glyphicon-user"></span>
                        <h3 class="box-title">Datos Personales</h3>


                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <label class="control-label" for="{{ form.apellido.vars.id}}" >{{ form.apellido.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.apellido)}}
                        </div>        

                        <div class="form-group">
                            <label class="control-label" for="{{ form.nombre.vars.id}}" >{{ form.nombre.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.nombre)}}
                        </div>        

                        <div class="form-group">
                            <label class="control-label" for="{{ form.dni.vars.id}}" >{{ form.dni.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.dni)}}
                        </div>     

                        <div class="form-group">
                            <label class="control-label" for="{{ form.fechaNacimiento.vars.label }}">{{ form.fechaNacimiento.vars.label }}<span class="required">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    {{ form_widget(form.fechaNacimiento)}}
                            </div>
                        </div> 


                        <div class="form-group">
                            <label for="{{ form.cuil.vars.id}}">{{ form.cuil.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.cuil)}}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.sexo.vars.id}}">{{ form.sexo.vars.label }}</label>
                            {{ form_widget(form.sexo)}}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.vive.vars.id}}">{{ form.vive.vars.label }}</label>
                            {{ form_widget(form.vive)}}
                        </div>



                    </div><!-- /.box-body -->
                </div>

                <div class="box box-info">
                    <div class="box-header">
                        <span class="glyphicon glyphicon-book"></span>
                        <h3 class="box-title">Datos de la institución</h3>
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <label for="{{ form.asiste.vars.id}}">{{ form.asiste.vars.label }}</label>
                            {{ form_widget(form.asiste)}}
                        </div><!-- /.form group -->


                        <div class="form-group">
                            <label for="{{ form.fechaIngreso.vars.id}}">{{ form.fechaIngreso.vars.label }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                {{ form_widget(form.fechaIngreso)}}
                            </div><!-- /.input group -->
                        </div>
                        <div class="form-group">
                            <label for="{{ form.fechaEgreso.vars.id}}">{{ form.fechaEgreso.vars.label }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                {{ form_widget(form.fechaEgreso)}}
                            </div><!-- /.input group -->
                        </div>                

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Avatar</h3>
                    </div>
                    <div class="box-body">
                        <img id="preview" 
                             {% if alumno.foto is not null %} 
                                 src="{{ asset('foto') ~'/'~ alumno.foto }}"
                             {% endif %}
                             width="250" height="250" />                        
                        <input type="hidden" id="x" name="x" />
                        <input type="hidden" id="y" name="y" />            
                        <input type="hidden" id="w" name="w" />
                        <input type="hidden" id="h" name="h" />  
                        <div class="form-group foto" id="foto">
                            <label for="{{ form.file.vars.id}}">{{ form.file.vars.label }}</label>
                            {{ form_widget(form.file)}}
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <!-- iCheck -->
                <div class="box box-success">
                    <div class="box-header">
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <h3 class="box-title">Datos de contacto</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="{{ form.direccion.vars.id}}">{{ form.direccion.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.direccion)}}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.email.vars.label }}">{{ form.email.vars.label }}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    {{ form_widget(form.email)}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.telefono.vars.label }}">{{ form.telefono.vars.label }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                {{ form_widget(form.telefono , {'attr': {'data-inputmask': '"mask": "(999) 999-9999"', 'data-mask': null} })}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.celular.vars.label }}">{{ form.celular.vars.label }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                {{ form_widget(form.celular)}}
                            </div>
                        </div>    

                        <div class="form-group"> 
                            <h3>Padres</h3>
                            {{ form_widget(form.padres)}}
                            {{ form_rest(form)}}
                        </div>

                    </div><!-- /.box -->
                </div><!-- /.col (right) -->

            </div>        

            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>                            
                    <a  href="{{ path('alumnos') }}" class="btn btn-default">Volver</a>

                </div>

            </div>                             
        </form>
    </div>            


    {% block javascripts %}
        {% spaceless %}

            {{ parent() }}
            <script src='{{asset('bundles/theme/js/plugins/multiselect-widget/jquery.multiselect.min.js')}}' type="text/javascript"></script>
            <script src='{{asset('bundles/theme/js/plugins/multiselect-widget/jquery.multiselect.filter.min.js')}}' type="text/javascript"></script>
            <script src='{{asset('bundles/theme/js/plugins/multiselect-widget/i18n/jquery.multiselect.es.js')}}' type="text/javascript"></script>
            <script src='{{asset('bundles/theme/js/plugins/multiselect-widget/i18n/jquery.multiselect.filter.es.js')}}' type="text/javascript"></script>

            <script type="text/javascript">
                $(function () {
                    /*$.datepicker.regional['es'] = {
                     closeText: 'Cerrar',
                     prevText: '<Ant',
                     nextText: 'Sig>',
                     currentText: 'Hoy',
                     monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                     monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                     dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                     dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                     dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                     weekHeader: 'Sm',
                     dateFormat: 'dd/mm/yy',
                     firstDay: 1,
                     isRTL: false,
                     showMonthAfterYear: false,
                     yearSuffix: ''
                     };
                     $.datepicker.setDefaults($.datepicker.regional['es']);
                     
                     $('#{{ form.fechaNacimiento.vars.id }}').datepicker();*/

                    $(document).ready(function () {
                        $(".padre").multiselect();
                    });

                    iconoNew = $('.sidebar-menu .treeview a i').text();

                    console.log(iconoNew);
                });


            </script>

        {% endspaceless %}
    {% endblock %}

{% endblock %}









