{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}


{% block title %}Empadronador | Alumnos {% endblock%}   
{% set flag = '' %}

{% block contenido %}   
    {% set entitiesCount  = entities |length %}  

    <div class="row">                
        <div class="col-md-12">
            <div class="box box-solid box-warning">
                <div class="box-header">
                    <h3 class="box-title"><span class="glyphicon glyphicon-filter"></span>Filtros</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-warning btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-warning btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" style="display: none;">
                    <div class="box box-solid bg-yellow" style="background-color: #ffb380!important;">

                        <div class="box-body">
                            <form class="form-horizontal form-column" id="alumnos-filters" action="{{ path('alumnos') }}" method="post" {{ form_enctype(formFilter) }}>
                                <div class="row">
                                    {% for row in formFilter %}
                                        <div class="col-lg-2">
                                            <div class="control-group">
                                                {{ form_label(row) }} <div class="controls">{{ form_widget(row) }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}   
                                    <div class="col-lg-4">
                                        <div class="form-actions" style="margin-top: 7%!important;">
                                            <button type="submit" class="btn btn-primary"><i class="icon-filter"></i> Buscar</button>
                                            <button type="button" id='filter-reset' class="btn">Reiniciar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.box-body -->
            </div>
            <!-- Primary tile -->

        </div>
    </div>                            

    <div class="row">            

        <div class="col-md-12">

            <div class="table-toolbar">
                <div class="btn-group">
                    <a href="{{ path('alumno_new')}}"><button class="btn btn-success">Agregar <i class="icon-plus icon-white"></i></button></a>
                </div>                                                                                                            


            </div>

        </div>
    </div>


    {% set entitiesCount  = entities |length %} 
    <div class="row">
        {% if entitiesCount > 0 %}
            <div class="col-lg-12 col-xs-12">                



                <div class="box-body box-content">

                    <table summary="Análisis de ventas anuales" class="display table table-bordered" cellspacing="0" width="100%" id="alumnos">
                        
                        <thead>
                            
                            <tr class="table-header">                                        
                                <th>DNI</th>
                                <th>Nombre Completo</th>
                                <th>Fecha de nacimiento</th>                                        
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Certificados</th>                                                                                
                                <th>Sexo</th>                                            
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}

                                <tr {% if entity.certificados | length > 0 %} class="success" {%else%}class="danger"{% endif %}>                                                                                        
                                    <td>{{ entity.dni }}</td>
                                    <td>
                                        {{ entity.nombre ~ " " ~ entity.apellido }}

                                        {% if entity.certificados | length > 0 %}                                            
                                            <button class="btn btn-info btn-sm" data-toggle="popover" title="{{ entity.certificados | length }} Certificados" data-content="{% for certificado in entity.certificados %} fecha de Vencimiento: {{ certificado.fechaVencimiento | date('d/m/Y')}} {% endfor %}"><i class="fa fa-archive"></i></button>
                                            {% endif %}
                                    </td>
                                    <td>{{ entity.fechaNacimiento | date('d/m/Y') }}</td>                                                

                                    <td>{{ entity.direccion }}</td>
                                    <td>{{ entity.telefono }}</td>
                                    <td>
                                        {% if entity.certificados | length > 0 %}
                                            {% for cert in entity.certificados %}
                                                <i class="fa fa-archive"></i>
                                            {% endfor %}
                                        {% endif %}
                                    </td>                                            

                                    <td>
                                        {% if entity.sexo == "m" %}
                                            <i class="fa fa-male"></i>                                            
                                        {% endif %}                                                

                                        {% if entity.sexo == "f" %}
                                            <i class="fa fa-female"></i>                                            
                                        {% endif %} 
                                    </td>  


                                    <td>        
                                        <a href="{{ path('certificado_new', { 'id': entity.id }) }}" title="Agregar Certificado"><i class="fa fa-archive"></i></a>
                                        <a href="{{ path('alumno_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-edit"></i></a>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>

                </div>    



            {% else %}
                <div class="alert alert-info redondeame margin-top-20">
                    <a class="close" href="#" data-dismiss="alert">×</a>

                    <p>Sin Resultados</p>
                </div>
            {% endif %}         
        </div>

    </div>

{% endblock %}   


{% block javascripts %}
    {% spaceless %}

        {{ parent() }}
        <script type="text/javascript">
            $(function () {

                $('#alumnos').dataTable({
                    "oLanguage": {
                        "sSearch": "Buscar:",
                        "sZeroRecords": "No hay registros para mostrar",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sInfoEmpty": "No hay entradas para mostrar",
                        "sEmptyTable": "Sin informacion disponible en la tabla",
                        "sInfoFiltered": " - Mostrando de _MAX_ registros",
                        "oPaginate": {
                            "sPrevious": "Pagina Anterior",
                            "sNext": "Pagina siguiente"
                        }


                    },
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": false,
                    "bAutoWidth": false
                });

                $(".btn-sm").popover();

                enlace = $('.sidebar-menu .treeview a');

                texto = $(enlace).text();

                if (texto == "Alumnos") {
                    enlace.css('background-color', 'orange');
                }

                /*icono = $('.fa-users').parent();
                 $(icono).css('background-color','orange');                
                 elementoLista = icono.parent();
                 $(elementoLista).addClass('active');
                 $(elementoLista).closest('li.treeview').removeClass('treeview');                
                 $(elementoLista).closest('li').addClass('treeview');
                 $(elementoLista).closest('li').addClass('active');
                 
                 console.log($('.fa-users .menu_level_1'));  */
                //elemento = enlace.parent().parent();
                //$(elemento).css('background-color', 'orange');
            });



        </script>

    {% endspaceless %}
{% endblock %}