{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}


{% block contenido %}
        {% set entitiesCount  = entities |length %}  

    <div class="row">                
        <div class="col-md-12">
            <div class="box box-solid box-warning">
                <div class="box-header">
                    <h3 class="box-title"><span class="glyphicon glyphicon-filter"></span>Filtros</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-warning btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-warning btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" style="display: none;">
                    <div class="box box-solid bg-yellow" style="background-color: #ffb380!important;">

                        <div class="box-body">
                            <form class="form-horizontal form-column" id="padres-filters" action="{{ path('padres') }}" method="post" {{ form_enctype(formFilter) }}>
                                <div class="row">
                                    {% for row in formFilter %}
                                        <div class="col-lg-2">
                                            <div class="control-group">
                                                {{ form_label(row) }} <div class="controls">{{ form_widget(row) }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}   
                                    <div class="col-lg-4">
                                        <div class="form-actions" style="margin-top: 7%!important;">
                                            <button type="submit" class="btn btn-primary"><i class="icon-filter"></i> Buscar</button>
                                            <button type="button" id='filter-reset' class="btn">Reiniciar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.box-body -->
            </div>
            <!-- Primary tile -->

        </div>
    </div>                            

    <div class="row">            

        <div class="col-md-12">

            <div class="table-toolbar">
                <div class="btn-group">
                    <a href="{{ path('padre_new')}}"><button class="btn btn-success">Agregar <i class="icon-plus icon-white"></i></button></a>
                </div>                                                                                                            


            </div>

        </div>
    </div>
                
    
    {% set entitiesCount  = entities |length %} 
    <div class="row">
        {% if entitiesCount > 0 %}
            <div class="col-lg-12 col-xs-12">                



                <div class="box-body box-content">

                    <table summary="Padres" class="display table table-bordered" cellspacing="0" width="100%" id="padres">
                        
                        
                        <thead>
                                        <tr class="table-header">

                                            <th>DNI</th>
                                            <th>Nombre Completo</th>
                                            <th>Fecha de nacimiento</th>                                        
                                            <th>Direccion</th>
                                            <th>Telefono</th>
                                            <th>Celular</th>                                        
                                            <th>Cuil</th>
                                            <th>Sexo</th>                                            
                                            <th>Ocupacion</th> 
                                            <th>Tutor</th> 
                                            <th>Acciones</th> 

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in entities %}
                                            <tr {% if entity.tutor == 1 %} class="success" {%else%}class="danger"{% endif %}>                                            
                                                <td>{{ entity.dni }}</td>
                                                <td>
                                                    {{ entity.nombre ~ " " ~ entity.apellido }}
                                                    {% if entity.tutor == 1 %}
                                                        <a href="#" data-toggle="tooltip" title="Todavía no lo saco"><i class="fa fa-user"></i></a>
                                                    {% endif %}    
                                                </td>
                                                <td>{{ entity.fechaNacimiento | date('d/m/Y') }}</td>                                                

                                                <td>{{ entity.direccion }}</td>
                                                <td>{{ entity.telefono }}</td>
                                                <td>{{ entity.celular }}</td>                                            
                                                <td>{{ entity.cuil }}</td>                                                
                                                <td>
                                                    {% if entity.sexo == "m" %}
                                                        <i class="label btn-info fa fa-male"> </i>                                            
                                                    {% endif %}                                                

                                                    {% if entity.sexo == "f" %}
                                                        <i class="label btn-danger fa fa-female"> </i>                                            
                                                    {% endif %} 
                                                </td>                                                
                                                <td>{{ entity.ocupacion }}</td>                                                
                                                <td>
                                                    {% if entity.tutor %}
                                                        <span class="label label-success">SI</span>
                                                    {% else %}
                                                        <span class="label label-danger">NO</span>
                                                    {% endif %} 
                                                </td>      
                                                
                                                
                                                <td>                                            
                                                    <a href="{{ path('padre_edit', { 'id': entity.id })}}" title="Editar Padrel" ><i class="fa fa-edit"></i></a>                                           
                                                </td>  

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                        
                    </table>

                </div>    



            {% else %}
                <div class="alert alert-info redondeame margin-top-20">
                    <a class="close" href="#" data-dismiss="alert">×</a>

                    <p>Sin Resultados</p>
                </div>
            {% endif %}         
        </div>

    </div>

            

    {% block javascripts %}
        {% spaceless %}

            {{ parent() }}
            <script type="text/javascript">
                $(function () {

                    $('#padres').dataTable({
                        "oLanguage": {
                            "sSearch": "Buscar:",
                            "sZeroRecords": "No hay registros para mostrar",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sInfoEmpty": "No hay entradas para mostrar",
                            "sEmptyTable": "Sin informacion disponible en la tabla",
                            "sInfoFiltered": " - Mostrando de _MAX_ registros",
                            "oPaginate": {
                                "sPrevious": "Pagina Anterior",
                                "sNext": "Pagina siguiente"
                            }


                        },
                        "bPaginate": true,
                        "bLengthChange": false,
                        "bFilter": true,
                        "bSort": true,
                        "bInfo": false,
                        "bAutoWidth": false
                    });

                    $("a").tooltip({placement: 'right'});
                });
            </script>

        {% endspaceless %}
    {% endblock %}

{% endblock %}
