{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% set label_boton = 'Guardar' %}

{% block title  %}
    Padre
{% endblock  %}


{% block contenido %}    


    <div class="row">

        <form class="form-horizontal form-column" id="padre-form" action="{{ path('padre_create') }}" method="post" {{ form_enctype(form) }}>                                        
            {{ form_errors(form)}}                                
            <div class="col-md-6">      
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Datos Personales</h3>
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <label for="{{ form.apellido.vars.id}}" >{{ form.apellido.vars.label }}</label>
                            {{ form_widget(form.apellido)}}
                        </div>        


                        <div class="form-group">
                            <label for="{{ form.nombre.vars.id}}" >{{ form.nombre.vars.label }}</label>
                            {{ form_widget(form.nombre)}}
                        </div>        


                        <div class="form-group">
                            <label for="{{ form.dni.vars.id}}" >{{ form.dni.vars.label }}</label>                        
                            {{ form_widget(form.dni)}}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.fechaNacimiento.vars.label }}">{{ form.fechaNacimiento.vars.label }}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    {{ form_widget(form.fechaNacimiento)}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.cuil.vars.id}}">{{ form.cuil.vars.label }}</label>
                            {{ form_widget(form.cuil)}}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.sexo.vars.id}}" >{{ form.sexo.vars.label }}</label>                        
                            {{ form_widget(form.sexo)}}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.vive.vars.id}}">{{ form.vive.vars.label }}</label>
                            {{ form_widget(form.vive)}}
                        </div>
                    </div>  


                </div>

                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Datos adicionales</h3>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label for="{{ form.ocupacion.vars.id}}" >{{ form.ocupacion.vars.label }}</label>            
                            {{ form_widget(form.ocupacion)}}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.tutor.vars.id}}">{{ form.tutor.vars.label }}</label>
                            {{ form_widget(form.tutor)}}
                        </div>


                    </div>

                </div>                        


            </div>




            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Datos de contacto</h3>
                    </div>
                    <div class="box-body">

                        <div class="box-body">
                            <div class="form-group">
                                <label for="{{ form.email.vars.label }}">{{ form.email.vars.label }}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        {{ form_widget(form.email)}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.direccion.vars.id}}" >{{ form.direccion.vars.label }}</label>                        
                                {{ form_widget(form.direccion)}}
                            </div>


                            <div class="form-group">
                                <label for="{{ form.telefono.vars.label }}">{{ form.telefono.vars.label }}</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    {{ form_widget(form.telefono)}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.celular.vars.label }}">{{ form.celular.vars.label }}</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    {{ form_widget(form.celular)}}
                                </div>



                            </div>
                        </div>                        
                    </div>
                    {{ form_rest(form)}}
                    </form>            
                </div>

            </div>


            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>                            
                    <a href="{{ path('padres') }}" class="btn btn-default">Volver</a>

                </div>

            </div>                    
        {% endblock %} 