
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>                                        
                                <th>Taller</th>                                                                                                                        
                                <th>Asistio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asistencia in asistencias %}
                            <tr> 
                                <td>{{ asistencia.taller }}</td>
                                <td>{{ asistencia.asistio }}</td>
                            </tr>
                                
                           {% endfor%}
                        </tbody>
                    </table>
                    
                </div>
                <div class="row no-print">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary">Guardar<i class="glyphicon glyphicon-save"></i></button>                            
                        <button href="{{ path('horario_test') }}" class="btn btn-primary">Volver</button>                
                    </div>
                </div>
