{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block title %} Administracion | Facturacion {% endblock %}

{% set action = path('factura_create' , {'id': 1}) %}    


{% block contenido %}                                                            
    <section class="content invoice">
        
        <div class="row">
                        <div class="col-xs-12">
                            <h2 class="page-header">
                                <i class="fa fa-globe"></i> Factura
                                <small class="pull-right">Date: 2/10/2014</small>
                            </h2>
                        </div><!-- /.col -->
         </div>
        
        
        
        <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            Alumno
                            <personal>
                                
                                     {% block javascripts %}
                                        {% spaceless %}
                                            {{ parent() }}
                                        {% endspaceless %}
                                    {% endblock %}
                                        <strong>{{ form_widget(form.alumno) }}</strong><br>                                                                    
                                 Obra Social:  {{ form_widget(form.obraSocial) }}
                                
                                
                            </personal>
                        </div><!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            To
                            <address>
                                <strong>John Doe</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                Phone: (555) 539-1037<br>
                                Email: john.doe@example.com
                            </address>
                        </div><!-- /.col -->
                        
                    </div>
        

        
        <div class="row" id="asistencias" >                   
            

            
        </div>



    </section>             
                        
                                                                
{% endblock contenido %}  




