
    /**
{% block phpdoc_method_header %}
     * Displays a form to create a new {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *

     */
{% block method_definition %}
    public function newAction()
{% endblock method_definition %}
    {
{% block method_body %}
        $entity = new {{ entity_class }}();
        $form   = $this->createForm(new {{ entity_class }}Type(), $entity);
{% endblock method_body %}

{% block method_return %}

        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:new.html.twig', array(
            'entity' => $entity,
            'form'   => $form->createView(),
        ));

{% endblock method_return %}
    }
