{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block contenido %}
    <h1>ControlNovedad edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('controlnovedad') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
