{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block title %} Novedad {% endblock %}

{% block contenido %}
    <div class="row">
        {{ form_errors(form)}}
        <form class="form-horizontal form-column" id="alumno-form" action="{{ path('controlnovedad_create') }}" method="post" {{ form_enctype(form) }}>                                        


            <div class="col-md-6">

                <div class="box box-primary">
                    <div class="box-header">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <h3 class="box-title">Control Novedad </h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label" for="{{ form.controlEdificio.vars.id}}" >{{ form.controlEdificio.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.controlEdificio)}}                            
                        </div>   
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.fechaControl.vars.id}}" >{{ form.fechaControl.vars.label }}<span class="required">*</span></label>                            
                            {{ form_widget(form.fechaControl)}}
                        </div>   
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.fechaVencimiento.vars.id}}" >{{ form.fechaVencimiento.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.fechaVencimiento)}}
                        </div>   
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.observaciones.vars.id}}" >{{ form.observaciones.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.observaciones)}}
                        </div>   

                        <div class="form-group">
                            <label class="control-label" for="{{ form.responsable.vars.id}}" >{{ form.responsable.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.responsable)}}
                        </div>        
                        
                    </div>
                </div>

                <div class="col-md-12">
                    {{ form_rest(form)}}
                </div>                             
            </div>                                
        </form>
    </div>        




{% endblock %}
