{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

 
{% block title %}Administracion | Conceptos {% endblock%}   
    
    
{% block contenido %}   
    {% set entitiesCount  = entities |length %}  

    <div class="row">            
        {% if entitiesCount > 0 %}
            <div class="col-xs-12">
                <div class="box box-bordered">
                    <!--<div class="box-header">
                        <h3 class="box-title">Filtros</h3>
                    </div><!-- /.box-header -->
                    <div class="box-title redondeame-arriba">
                        <h3><i class="icon-filter"></i>Conceptos</h3>
                    </div>
                    <div class="box-body">
                        
                            <div class="table-toolbar">
                                <div class="btn-group">
                                    <a href="{{ path('alumno_new')}}"><button class="btn btn-success">Agregar <i class="icon-plus icon-white"></i></button></a>
                                </div>
                                <div class="btn-group pull-right">
                                    <button data-toggle="dropdown" class="btn dropdown-toggle">Herramientas <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Imprimir</a></li>
                                        <li><a href="#">Guardar como PDF</a></li>
                                        <li><a href="#">Exportar a Excel</a></li>
                                    </ul>
                                </div>
                            </div>
                            <table class="display table table-bordered table-hover" cellspacing="0" width="100%" id="conceptos">

                                <thead>
                                    <tr class="table-header">
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>                                                                                
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                       
                                    {% for entity in entities %}
                                        
                                        <tr >                                            
                                            <td>{{ entity.id }}</td>
                                            <td>{{ entity.nombre }}</td>                                                                                        
                                            <td>{{ entity.descripcion }}</td>
                                            
                                            </td>                                                
                                            <td>
                                                
                                                <a href="{{ path('concepto_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-edit"></i></a>
                                            </td>  
                                    
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info redondeame margin-top-20">
                <a class="close" href="#" data-dismiss="alert">×</a>

                <p>Sin Resultados</p>
            </div>
        {% endif %}
    </div>

    <!-- paginacion 
    <div class="navigation">-->
        {{ knp_pagination_render(entities) }}
    <!--</div>
     Fin paginación -->


{% endblock %}


{% block javascripts %}
    {% spaceless %}

        {{ parent() }}
        <script type="text/javascript">
             $(function () {

                $('#conceptos').dataTable({                                        
                    "oLanguage": {
                        "sSearch": "Buscar:",
                        "sZeroRecords": "No hay registros para mostrar",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sInfoEmpty": "No hay entradas para mostrar",
                        "sEmptyTable": "Sin informacion disponible en la tabla",                                                
                        "sInfoFiltered": " - Mostrando de _MAX_ registros",
                        "oPaginate": {
                           "sPrevious": "Pagina Anterior",
                           "sNext": "Pagina siguiente"
                        }
                        
                        
                    },
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": false,
                    "bAutoWidth": false
                });
            });
            
            var gears = $('.fa-gears');
            
        </script>

    {% endspaceless %}
{% endblock %}
