{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block contenido -%}
    <h1>Consulta edit</h1>

    <form action="{{ path('consulta_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

        <ul class="record_actions">
            <li>
            <left>
                <a class="btn btn-primary" href="{{ path('consulta') }}">
                    Volver
                </a>
            </left>
        </li>
    <li>
        <form action="{{ path('consulta_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
