{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block title %}Expediente | Consulta{% endblock%}

{% block contenido %}   
    {% set entitiesCount  = entities |length %}  
    <ul><li class="row-fluid" style="padding-top:5px">
        <left>
            <a class="btn btn-primary" href="{{ path('consulta_new') }}">
                Agregar
            </a>
        </left>
    </li></ul>

    <div class="row">

       

        <div class="col-md-12">
            <div class="box box-bordered">
                <div class="box-title redondeame-arriba">
                    <h3><i class="icon-filter"></i>Consultas</h3>
                </div>


                <table class="display table table-bordered table-hover" cellspacing="0" width="100%" id="personal">
                    <thead>
                        <tr class="table-header">
                            <th>Id</th>
                            <th>Nombrecorto</th>
                            <th>Descripcion</th>
                            <th>Observaciones</th>
                            <th>Periodicidad de los informe</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('consulta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.nombreCorto }}</td>
                                <td>{{ entity.descripcion }}</td>
                                <td>{{ entity.observaciones }}</td>
                                <td>{{ entity.periodicidadInforme }}</td>
                                <td>

                                    <a href="{{ path('consulta_edit', { 'id': entity.id }) }}" class="btn" title="edit"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            
        </div>
        <!-- Paginación -->
        <div class="navigation">
            {{ knp_pagination_render(entities) }}
        </div>
        <!-- Fin paginación -->
    </div>

{% endblock %}
