{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}


{% block contenido -%}
<div class="row">
        {{ form_errors(form)}}
    <h1>Consulta Crear</h1>

    <form action="{{ path('consulta_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                        <span class="glyphicon glyphicon-user"></span>
                        <h3 class="box-title">Datos de consulta</h3>
                </div>
                 
                
                        <div class="box-body">
                        <div class="form-group">
                            <label class="control-label" for="{{ form.nombreCorto.vars.id}}" >{{ form.nombreCorto.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.nombreCorto)}}                            
                        </div>   
                        
                                               
                        <div class="form-group">
                            <label class="control-label" for="{{ form.descripcion.vars.id}}" >{{ form.descripcion.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.descripcion)}}
                        </div>   
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.observaciones.vars.id}}" >{{ form.observaciones.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.observaciones)}}
                        </div>        
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.periodicidadInforme.vars.id}}" >{{ form.periodicidadInforme.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.periodicidadInforme)}}
                        </div>  
                    </div>
            </div>    
        {{ form_widget(form) }}
        <p>
            <button type="submit">Crear</button>
        </p>
        </div>
    </form>
</div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('consulta') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
