{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block title %}Empadronador | Personal{% endblock%}

{% block contenido %}   
    {% set entitiesCount  = entities |length %}  

    <div class="row">                
        <div class="col-md-12">
            <div class="box box-solid box-warning">
                <div class="box-header">
                    <h3 class="box-title"><span class="glyphicon glyphicon-filter"></span>Filtros</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-warning btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-warning btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" style="display: none;">
                    <div class="box box-solid bg-yellow" style="background-color: #ffb380!important;">

                        <div class="box-body">
                            <form class="form-horizontal form-column" id="equipo-filters" action="{{ path('personal') }}" method="post" {{ form_enctype(formFilter) }}>
                                <div class="row">
                                    {% for row in formFilter %}
                                        <div class="col-lg-2">
                                            <div class="control-group">
                                                {{ form_label(row) }} <div class="controls">{{ form_widget(row) }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}   
                                    <div class="col-lg-4">
                                        <div class="form-actions" style="margin-top: 7%!important;">
                                            <button type="submit" class="btn btn-primary"><i class="icon-filter"></i> Buscar</button>
                                            <button type="button" id='filter-reset' class="btn">Reiniciar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.box-body -->
            </div>
            <!-- Primary tile -->

        </div>
    </div>                            

    <div class="row">            

        <div class="col-md-12">

            <div class="table-toolbar">
                <div class="btn-group">
                    <a href="{{ path('personal_new')}}"><button class="btn btn-success">Agregar <i class="icon-plus icon-white"></i></button></a>
                </div>                                                                                                            


            </div>

        </div>
    </div>



    <div class="row">
        {% if entitiesCount > 0 %}
            <div class="col-md-12">

                <table class="display table table-bordered table-hover" cellspacing="0" width="100%" id="personal">

                    <thead>
                        <tr class="table-header">

                            <th>DNI</th>
                            <th>Nombre Completo</th>
                            <th>Fecha de nacimiento</th>                                        
                            <th>Direccion</th>
                            <th>Cargo</th>
                            <th>Externo</th>
                            <th>Telefono</th>
                            <th>Celular</th>                                        
                            <th>Cuil</th>
                            <th>Sexo</th>                                            
                            <th>Fecha Ingreso</th>     
                            <th>Acciones</th> 

                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}                                                                                                                

                            <tr {% if entity.usuario != null %} class="success" {%else%}class="danger"{% endif %}>                                            
                                <td>{{ entity.dni }}</td>
                                <td>
                                    {{ entity.nombre ~ " " ~ entity.apellido }}
                                    {% if entity.usuario != null %}
                                        <a href="#" data-toggle="tooltip" title="{{ entity.usuario.username }}"><i class="fa fa-user"></i></a>
                                        {% endif %}    
                                </td>
                                <td>{{ entity.fechaNacimiento | date('d/m/Y') }}</td>                                                                                            
                                <td>{{ entity.direccion }}</td>
                                <td>{% if entity.cargo == "Analista de sistemas" %}
                                    <i class="fa fa-laptop">                                            
                                    </i>
                                    {% endif %}
                                    </td>
                                    <td>
                                        {% if entity.externo %}
                                            <span class="label label-success">SI</span>
                                        {% else %}
                                            <span class="label label-danger">NO</span>
                                        {% endif %}                                                
                                    </td>
                                    <td>
                                        {%if entity.telefono %}
                                            <a href="#" data-toggle="tooltip" title=" {{ entity.telefono }}"><i class="fa fa-phone"></i></a>
                                                {{ entity.telefono | slice(3, 7)}}
                                            {% endif %}
                                    </td>
                                    <td>
                                        {%if entity.celular %}
                                            <a href="#" data-toggle="tooltip" title=" {{ entity.celular }}"><i class="fa fa-mobile-phone"></i></a>
                                            {% endif %}
                                    </td>                                            
                                    <td>{{ entity.cuil }}</td>                                                
                                    <td>
                                        {% if entity.sexo == "m" %}
                                            <i class="fa fa-male" >                                         
                                            </i>
                                        {% endif %}                                                

                                        {% if entity.sexo == "f" %}
                                            <i class="fa fa-female"></i>                                            
                                        {% endif %}                                                
                                    </td>                                                
                                    <td>{{ entity.fechaIngreso | date('d-m-Y') }}</td>  
                                    {% if entity.usuario == null and entity.responsable == null %}
                                        <td>
                                            <a href="{{ path('usuario_create', { 'id': entity.id })}}" title="Crear Usuario" ><i class="fa fa-plus"></i><i class="fa fa-user"></i></a>                                           
                                            <a href="{{ path('responsable_new', { 'idPersonal': entity.id })}}" title="Asignar Responsabilidad"><i class="fa fa-legal"></i></a>                                                                                        
                                            <a href="{{ path('personal_edit', { 'id': entity.id })}}" title="Editar Personal" ><i class="fa fa-edit"></i></a>                                           
                                        </td>  
                                    {% else %}
                                        <td>
                                            <a href="{{ path('responsable_new', { 'idPersonal': entity.id })}}" title="Asignar Responsabilidad"><i class="fa fa-legal"></i></a>                                                                                      
                                            <a href="{{ path('personal_edit', { 'id': entity.id })}}" title="Editar Personal" ><i class="fa fa-edit"></i></a>                                           
                                        </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        {% else %}
                            <div class="alert alert-info redondeame margin-top-20">
                                <a class="close" href="#" data-dismiss="alert">×</a>

                                <p>Sin Resultados</p>
                            </div>
                            {% endif %}
                            </div>

                            {% endblock %}


                                {% block javascripts %}
                                    {% spaceless %}

                                        {{ parent() }}
                                        <script type="text/javascript">
                                            $(function () {

                                                $('#personal').dataTable({
                                                    "oLanguage": {
                                                        "sSearch": "Buscar:",
                                                        "sZeroRecords": "No hay registros para mostrar",
                                                        "sLengthMenu": "Mostrar _MENU_ registros",
                                                        "sInfoEmpty": "No hay entradas para mostrar",
                                                        "sEmptyTable": "Sin informacion disponible en la tabla",
                                                        "sInfoFiltered": " - Mostrando de _MAX_ registros",
                                                        "oPaginate": {
                                                            "sPrevious": "Pagina Anterior",
                                                            "sNext": "Pagina siguiente"
                                                        }


                                                    },
                                                    "bPaginate": true,
                                                    "bLengthChange": false,
                                                    "bFilter": true,
                                                    "bSort": true,
                                                    "bInfo": false,
                                                    "bAutoWidth": true
                                                });

                                                $("a").tooltip({placement: 'left'});
                                            });
                                        </script>

                                    {% endspaceless %}
                                {% endblock %}
