
    {% set entitiesCount  = entities |length %}  

                          

    <div class="row">
        {% if entitiesCount > 0 %}
            <div class="col-md-12">

                <table class="display table table-bordered table-hover" cellspacing="0" width="100%" id="personal">

                    <thead>
                        <tr class="table-header">

                            <th>DNI</th>
                            <th>Nombre Completo</th>
                            <th>Fecha de nacimiento</th>                                        
                            <th>Direccion</th>
                            <th>Cargo</th>
                            <th>Externo</th>
                            <th>Telefono</th>
                            <th>Celular</th>                                        
                            <th>Cuil</th>
                            <th>Sexo</th>                                            
                            <th>Fecha Ingreso</th>     
                            <th>Acciones</th> 

                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}                                                                                                                

                            <tr {% if entity.usuario != null %} class="success" {%else%}class="danger"{% endif %}>                                            
                                <td>{{ entity.dni }}</td>
                                <td>
                                    {{ entity.nombre ~ " " ~ entity.apellido }}
                                    {% if entity.usuario != null %}
                                        <a href="#" data-toggle="tooltip" title="{{ entity.usuario.username }}"><i class="fa fa-user"></i></a>
                                        {% endif %}    
                                </td>
                                <td>{{ entity.fechaNacimiento | date('d/m/Y') }}</td>                                                                                            
                                <td>{{ entity.direccion }}</td>
                                <td>{% if entity.cargo == "Analista de sistemas" %}
                                    <i class="fa fa-laptop">                                            
                                    </i>
                                    {% endif %}
                                    </td>
                                    <td>
                                        {% if entity.externo %}
                                            <span class="label label-success">SI</span>
                                        {% else %}
                                            <span class="label label-danger">NO</span>
                                        {% endif %}                                                
                                    </td>
                                    <td>
                                        {%if entity.telefono %}
                                            <a href="#" data-toggle="tooltip" title=" {{ entity.telefono }}"><i class="fa fa-phone"></i></a>
                                                {{ entity.telefono | slice(3, 7)}}
                                            {% endif %}
                                    </td>
                                    <td>
                                        {%if entity.celular %}
                                            <a href="#" data-toggle="tooltip" title=" {{ entity.celular }}"><i class="fa fa-mobile-phone"></i></a>
                                            {% endif %}
                                    </td>                                            
                                    <td>{{ entity.cuil }}</td>                                                
                                    <td>
                                        {% if entity.sexo == "m" %}
                                            <i class="fa fa-male" >                                         
                                            </i>
                                        {% endif %}                                                

                                        {% if entity.sexo == "f" %}
                                            <i class="fa fa-female"></i>                                            
                                        {% endif %}                                                
                                    </td>                                                
                                    <td>{{ entity.fechaIngreso | date('d-m-Y') }}</td>  
                                    {% if entity.usuario == null and entity.responsable == null %}
                                        <td>
                                            <a href="{{ path('usuario_create', { 'id': entity.id })}}" title="Crear Usuario" ><i class="fa fa-plus"></i><i class="fa fa-user"></i></a>                                           
                                            <a href="{{ path('responsable_new', { 'idPersonal': entity.id })}}" title="Asignar Responsabilidad"><i class="fa fa-legal"></i></a>                                                                                        
                                            <a href="{{ path('personal_edit', { 'id': entity.id })}}" title="Editar Personal" ><i class="fa fa-edit"></i></a>                                           
                                        </td>  
                                    {% else %}
                                        <td>
                                            <a href="{{ path('responsable_new', { 'idPersonal': entity.id })}}" title="Asignar Responsabilidad"><i class="fa fa-legal"></i></a>                                                                                      
                                            <a href="{{ path('personal_edit', { 'id': entity.id })}}" title="Editar Personal" ><i class="fa fa-edit"></i></a>                                           
                                        </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        {% else %}
                            <div class="alert alert-info redondeame margin-top-20">
                                <a class="close" href="#" data-dismiss="alert">×</a>

                                <p>Sin Resultados</p>
                            </div>
                            {% endif %}
                            </div>

                            



