{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}    
    <link href="{{asset('bundles/theme/js/plugins/asmSelect/css/jquery.asmselect.css')}}" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #changes {
            position: absolute;
            width: 200px; 
            left: 430px; 
            background: #fff;
        }
    </style>

{% endblock stylesheets %}  

{% set label_boton = 'Guardar' %}

{% block title  %}
    Personal
{% endblock  %}

{% set edicion  = edicion|default(false) %}

{% if edicion == true  %}
    {% set action = path('personal_update', {'id': personal.id }) %}
{% else %}    
    {% set action = path('personal_create') %}    
{% endif  %}    



{% block contenido %}
    <div class="row">
        <form class="form-horizontal form-column" id="personal-form" action="{{ action }}" method="post" {{ form_enctype(form) }}>                                        

            <!-- DATOS PERSONALES y DATOS DE LA INSTITUCION-->
            <div class="col-md-6">

                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Datos Personales</h3>
                    </div>
                    <div class="box-body">
                        <div style="background-color: red;">
                            {{ form_errors(form)}}

                        </div>
                        <div class="form-group">
                            <label for="{{ form.apellido.vars.id}}" >{{ form.apellido.vars.label }}</label>
                            {{ form_widget(form.apellido)}}
                        </div>        

                        <div class="form-group">
                            <label for="{{ form.nombre.vars.id}}" >{{ form.nombre.vars.label }}</label>
                            {{ form_widget(form.nombre)}}
                        </div>        

                        <div class="form-group">
                            <label for="{{ form.dni.vars.id}}" >{{ form.dni.vars.label }}</label>
                            {{ form_widget(form.dni)}}
                        </div>     

                        <div class="form-group">
                            <label for="{{ form.fechaNacimiento.vars.label }}">{{ form.fechaNacimiento.vars.label }}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    {{ form_widget(form.fechaNacimiento)}}
                                    {{ form_errors(form.fechaNacimiento)}}
                            </div>
                        </div> 


                        <div class="form-group">
                            <label for="{{ form.cuil.vars.id}}">{{ form.cuil.vars.label }}</label>
                            {{ form_widget(form.cuil)}}
                            {{ form_errors(form.cuil)}}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.sexo.vars.id}}">{{ form.sexo.vars.label }}</label>
                            {{ form_widget(form.sexo)}}
                        </div>  

                        <div class="form-group">
                            <label for="{{ form.vive.vars.id}}">{{ form.vive.vars.label }}</label>
                            {{ form_widget(form.vive)}}
                        </div>                                                

                    </div>
                </div>

                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Datos de la institución</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="{{ form.cargo.vars.id}}">{{ form.cargo.vars.label }}</label>
                            {{ form_widget(form.cargo)}}
                        </div>      


                        <div class="form-group">
                            <label for="{{ form.fechaIngreso.vars.id}}">{{ form.fechaIngreso.vars.label }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                {{ form_widget(form.fechaIngreso)}}
                                {{ form_errors(form.fechaIngreso)}}
                            </div><!-- /.input group -->
                        </div>
                        <div class="form-group">
                            <label for="{{ form.fechaEgreso.vars.id}}">{{ form.fechaEgreso.vars.label }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                {{ form_widget(form.fechaEgreso)}}
                            </div><!-- /.input group -->
                        </div>  

                        <div class="form-group">
                            <label for="{{ form.activo.vars.id}}">{{ form.activo.vars.label }}</label>
                            {{ form_widget(form.activo)}}
                            {{ form_errors(form.activo)}}
                        </div>      

                        <div class="form-group">
                            <label for="{{ form.externo.vars.id}}">{{ form.externo.vars.label }}</label>
                            {{ form_widget(form.externo)}}
                            {{ form_errors(form.externo)}}
                        </div>  

                    </div>
                </div>
            </div>

            <!-- AVATAR y DATOS DE CONTACTO y TALLER-->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Avatar</h3>
                    </div>
                    <div class="box-body">
                        <img id="preview" 
                             {% if personal.foto is not null %} 
                                 src="{{ asset('foto') ~'/'~ personal.foto }}"
                             {% endif %}
                             width="250" height="250" />                        
                        <input type="hidden" id="x" name="x" />
                        <input type="hidden" id="y" name="y" />            
                        <input type="hidden" id="w" name="w" />
                        <input type="hidden" id="h" name="h" />  
                        <div class="form-group foto" id="foto">
                            <label for="{{ form.file.vars.id}}">{{ form.file.vars.label }}</label>
                            {{ form_widget(form.file)}}
                            {{ form_errors(form.file)}}
                        </div>
                    </div>
                </div>

                <!-- iCheck -->
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Datos de contacto</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="{{ form.direccion.vars.id}}">{{ form.direccion.vars.label }}</label>
                            {{ form_widget(form.direccion)}}
                            {{ form_errors(form.direccion)}}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.email.vars.label }}">{{ form.email.vars.label }}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    {{ form_widget(form.email)}}
                                    {{ form_errors(form.email)}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.telefono.vars.label }}">{{ form.telefono.vars.label }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                {{ form_widget(form.telefono)}}
                                {{ form_errors(form.telefono)}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.celular.vars.label }}">{{ form.celular.vars.label }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                {{ form_widget(form.celular)}}
                                {{ form_errors(form.celular)}}
                            </div>
                        </div>    
                    </div>

                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Talleres</h3>
                        </div>
                        <div class="box-body">      
                            <ul id="changes"><li></li></ul>
                                    {#{{ form.talleres.vars.choices }}#}                          
                            <p>
                                {{ form_widget(form.talleres)}}                                                                   
                                {{ form_errors(form.talleres)}}
                                {{ form_rest(form)}}
                                <a href="{{ path('taller_new')}}"><i class="fa fa-plus-circle"></i></a>  
                            </p>

                        </div>
                    </div>        
                </div>
            </div>
            
            
            <div class="col-md-12">
                <div class="form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>                            
                            <a href="{{ path('personal') }}" class="btn btn-default">Volver</a>
                                                        
                </div>
                
            </div>  

        </form>
    </div>        
{% endblock %}



{% block javascripts %}
    {{ parent()}}
    <script src='{{asset('bundles/theme/js/plugins/jquery-browser/jquery.browser.min.js')}}' type="text/javascript"></script>
    <script src='{{asset('bundles/theme/js/plugins/asmSelect/js/jquery.asmselect.js')}}' type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#{{ form.talleres.vars.id }}").asmSelect({
                addItemTarget: 'top',
                //animate: true,
                //highlight: true,
                sortable: true
            });
            
            $('.asmListItemRemove').html('puto');

            // track changes with our own event
            $("#{{ form.talleres.vars.id }}").change(function (e, data) {
                valor = $(this).find('option:selected').text();
                // add a little note at the top that said what was done
                $("#changes").prepend("<li>" + valor + "</li>");

                // if it's a sort or an add, then give it a little color animation to highlight it
                if (data.type != 'drop')
                    data.item.animate({'backgroundColor': '#ffffcc'}, 20, 'linear', function () {
                        data.item.animate({'backgroundColor': '#dddddd'}, 500);
                    });
            });

        });





    </script>

{% endblock javascripts %}    







