{% block _personal_talleres_widget %}
    <a href="{{ path('taller_new')}}"><i class="fa fa-plus-circle"></i></a>  
    <p>
        {{ form_row(form)}}                                                                   


    </p>
    
  

    <script type="text/javascript">
        $(document).ready(function () {
            $("{{ form.vars.id }}").asmSelect({
                addItemTarget: 'bottom',
                animate: true,
                highlight: true,
                sortable: true
            });



        });
    </script>



{% endblock _personal_talleres_widget %}    


