{{ '{% extends "ThemeBundle:Bootstrap:layout_base.html.twig" %}' }}

{{ '{% block title %}' -}}
{{ bundle }}:{{ controller }}:{{ action.basename }}
{{- '{% endblock %}' }}

{{ '{% block body %}' }}
<h1>Welcome to the {{ controller }}:{{ action.basename }} page</h1>
{{ '{% endblock %}' }}
