
<link href="{{ asset('bundles/theme/css/bootstrap/bootstrap-3.2.0-dist/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
<!--<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<link href="{{ asset('bundles/theme/js/plugins/jquery-ui-1.11.1/jquery-ui.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/theme/js/plugins/jquery-ui-1.11.1/jquery-ui.theme.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/theme/js/plugins/jquery-ui-1.11.1/jquery-ui.structure.min.css')}}" rel="stylesheet" type="text/css" />

<!--<link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />-->
<link href="{{ asset('bundles/theme/ionicons/1.5.2/css/ionicons.min.css')}}" rel="stylesheet" type="text/css" />


<link href="{{ asset('bundles/theme/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" rel="stylesheet" type="text/css" />

<link href="{{ asset('bundles/theme/css/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />

<!-- Theme style -->
<link href="{{ asset('bundles/theme/css/AdminLTE.css')}}" rel="stylesheet" type="text/css" />
<!-- Favicon 
<link rel="shortcut icon" href="{{asset('bundles/theme/img/favicon.ico')}}" />-->
<link href="{{ asset('bundles/theme/js/plugins/bootstrap-calendar-master/css/calendar.min.css') }}" rel="stylesheet" type="text/css" />

<link href="{{ asset('bundles/theme/js/plugins/fullcalendar/fullcalendar.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/theme/js/plugins/fullcalendar/lib/cupertino/jquery-ui.min.css')}}" rel="stylesheet" type="text/css"/>
    