<script src="{{ asset('bundles/theme/js/plugins/jquery-2.1.1.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/theme/js/plugins/jquery-ui-1.11.1/jquery-ui.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/theme/js/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/theme/js/plugins/datatables/jquery.dataTables.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/theme/js/plugins/datatables/dataTables.bootstrap.js')}}" type="text/javascript"></script>


<!-- daterangepicker 
<script src="{{ asset('bundles/theme/js/plugins/daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
-->
<!-- datepicker 
<script src="{{ asset('bundles/theme/js/plugins/datepicker/bootstrap-datepicker.js') }}" type="text/javascript"></script>
-->

<!-- iCheck -->
<script src="{{ asset('bundles/theme/js/plugins/iCheck/icheck.min.js') }}" type="text/javascript"></script>

<script src="{{ asset('bundles/theme/js/tools.js') }}" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="{{ asset('bundles/theme/js/AdminLTE/app.js') }}" type="text/javascript"></script>

<script src="{{ asset('bundles/theme/js/plugins/timepicker/bootstrap-timepicker.min.js') }}" type="text/javascript"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{asset('bundles/theme/js/plugins/fullcalendar/lib/moment.min.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/theme/js/plugins/jquery.blockUI.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/theme/js/plugins/fullcalendar/fullcalendar.min.js')}}" ></script>
<script src='{{asset('bundles/theme/js/plugins/fullcalendar/lang-all.js')}}' type="text/javascript"></script>




