{% block header%}

<header class="header">
            <a href="{{ path('escuela_show', { 'id': 1 }) }}" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                CentroDia                                    
            </a>
                
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{ app.user.username }} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img id="preview"
                                        {% if app.user.foto is not null %} 
                                                src="{{ asset('foto') ~'/'~ app.user.foto }}"
                                        {% endif %}/>
                                    <p>
                                        
                                        {{ app.user.username }} - {{ app.user.personal.cargo }}
                                        <small>Miembro desde {{ app.user.personal.fechaIngreso | date('m/Y') }}</small>
                                    </p>
                                </li>
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{ path('fos_user_profile_show')}}" class="btn btn-default btn-flat">Perfil</a>
                                        <a href="{{ path('fos_user_change_password')}}" class="btn btn-default btn-flat">Cambiar Contraseña</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ path('fos_user_security_logout')}}" class="btn btn-default btn-flat">Cerrar Sesion</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
{% endblock %}