    {% block sidebar %}
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                 <img id="preview" src="{{ asset('bundles/theme/img/logo.png') }}"/>
                
            </div>
            <div class="pull-left info">
                 <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        
        
        {{ knp_menu_render('ThemeBundle:MenuBuilder:mainMenu', {'template': 'ThemeBundle:Menu:knp_menu.html.twig' }) }}       
        
    </section>
{% endblock %}


