{% block boolean_widget %}
{% if value %}
         <span class="label label-success label-activos">SI</span>
    {% else %}
        <span class="label label-important label-activos">NO</span>
    {% endif %}
{% endblock %}


{% block integer_widget %}
    {% set type = type|default('number') %}
    {{ block('form_widget_simple') }}
{% endblock integer_widget %}



