{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}


{% block title %}  Certificados {% endblock %}      
{% set flag = '' %}
{% set idAlumno = 0 %}

{% set clase = clase | default('success') %} 

{% block contenido %}  
    
    
    
    {% set entitiesCount  = entities |length %}  

    <div class="row">            
        {% if entitiesCount > 0 %}
            <div class="col-xs-12">
                <div class="box box-bordered">
                    <div class="box-header">
                        <span class="glyphicon glyphicon-briefcase"></span>
                        <h3 class="box-title redondeame-arriba">CERTIFICADOS  </h3>
                    </div><!-- /.box-header -->
                    
                 
                    <div class="box-body">


                        <div class="table-toolbar">

                            <div class="btn-group pull-right">
                                <button data-toggle="dropdown" class="btn dropdown-toggle">Herramientas <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Imprimir</a></li>
                                    <li><a href="#">Guardar como PDF</a></li>
                                    <li><a href="#">Exportar a Excel</a></li>
                                </ul>
                            </div>
                        </div>
                        <table class="display table table-bordered table-hover" cellspacing="0" width="100%" id="certificados">

                            <thead>
                                <tr class="table-header">
                                    <th>Alumno</th>
                                    <th>Fecha de emisión</th>
                                    <th>Fecha de vencimiento</th>
                                    <th>Ciudad de emisión</th>                                        
                                    <th>Emitido por</th>
                                    <th>Acompañante</th>
                                    <th>Descripción</th>                                                                                
                                    <th>Diagnóstico</th>                                            
                                    <th>Acciones</th>      
                                </tr>
                            </thead>
                            <tbody>            
                                
                                {% for entity in entities %}
                                   

                                    {% if entity.fechaVencimiento >= date('now') and entity.fechaVencimiento >= date("+90 days") %} 
                                        {% set clase = 'info' %}     
                                        {% set flag = '1' %}   
                                    {% elseif entity.fechaVencimiento >= date('now')  %}                                      
                                        {% set clase = 'warning' %}  
                                        {% set flag = '2' %}  
                                        {% set difference = entity.fechaVencimiento.diff(date('now')) %}                                          
                                    {% else %}    
                                        {% set clase = 'danger' %}    
                                        {% set flag = '3' %}   
                                        {% set difference = date('now').diff(entity.fechaVencimiento) %}
                                    {% endif %}
                                    
                                    

                                    <tr class="{{ clase }}">
                                        <td>{{ entity.alumno }}</td>                                        
                                        <td>{{ entity.fechaEmision | date('d/m/Y') }}</td>
                                        <td>{{ entity.fechaVencimiento | date('d/m/Y') }}
                                        {% if flag == '1' %}
                                            <a href="#" data-toggle="tooltip" title="Certificado en estado correcto."><i class="fa fa-check-circle"></i></a>
                                        {% elseif flag == '2' %}
                                            <a href="#" data-toggle="tooltip" title="Faltan {{difference.days}} días para vencerse."><i class="fa fa-info-circle"></i></a>
                                        {% else %} 
                                            <a href="#" data-toggle="tooltip" title="Vencido hace {{difference.days}} días."><i class="fa fa-ban"></i></a>
                                        {% endif %}  
                                        </td>
                                        <td>{{ entity.ciudadEmision }}</td>                                                
                                        <td>{{ entity.emitidoPor }}</td>
                                        <td>
                                            {% if entity.acompanante %}
                                                <span class="label label-success">SI</span>
                                            {% else %}
                                                <span class="label label-danger">NO</span>
                                            {% endif %}
                                        </td>
                                        <td>

                                            {{ entity.descripcion | slice(0, 10) }}
                                        </td>
                                        <td>{{ entity.diagnostico | slice(0, 10) }}</td>                                            

                                        <td>
                                            <a href="{{ path('certificado_edit', { 'id': idAlumno }) }}" title="Ver"><i class="fa fa-eye"></i></a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info redondeame margin-top-20">
                <a class="close" href="#" data-dismiss="alert">×</a>

                <p>Sin Resultados</p>
            </div>
        {% endif %}
    </div>

    <!-- paginacion -->
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
    <!-- Fin paginación -->


{% endblock %}


{% block javascripts %}
    {% spaceless %}

        {{ parent() }}
        <script type="text/javascript">
            $(function () {

                $('#certificados').dataTable({
                    "oLanguage": {
                        "sSearch": "Buscar:",
                        "sZeroRecords": "No hay registros para mostrar",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sInfoEmpty": "No hay entradas para mostrar",
                        "sEmptyTable": "Sin informacion disponible en la tabla",
                        "sInfoFiltered": " - Mostrando de _MAX_ registros",
                        "sInfo": "Showin page _PAGE_ of _PAGES_",
                        "oPaginate": {
                            "sPrevious": "Pagina Anterior",
                            "sNext": "Pagina siguiente"
                        }


                    },
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": false,
                    "bAutoWidth": false
                });
            });



        </script>

    {% endspaceless %}
{% endblock %}
