{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block contenido %}
    <div class="row">
        {{ form_errors(form)}}
        <form class="form-horizontal form-column" id="alumno-form" action="{{ path('edificio_create')  }}" method="post" {{ form_enctype(form) }}>                                        


            <div class="col-md-6">

                <div class="box box-primary">
                    <div class="box-header">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <h3 class="box-title">Edificio - Control </h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label" for="{{ form.nombreCorto.vars.id}}" >{{ form.nombreCorto.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.nombreCorto)}}                            
                        </div>   
                        
                                               
                        <div class="form-group">
                            <label class="control-label" for="{{ form.descripcion.vars.id}}" >{{ form.descripcion.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.descripcion)}}
                        </div>   
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.observaciones.vars.id}}" >{{ form.observaciones.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.observaciones)}}
                        </div>   

                        <div class="form-group">
                            <label class="control-label" for="{{ form.periodicidad.vars.id}}" >{{ form.periodicidad.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.periodicidad)}}
                        </div>        
                        
                    </div>
                </div>

                <div class="col-md-12">
                    {{ form_rest(form)}}
                </div>                             
            </div>    
                
                <div class="col-md-6">
                    <p>Se deben agregar todos los controles respecto al edificio</p>
                </div>    
        </form>
    </div>        




{% endblock %}
