{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block contenido %}   
    {% set entitiesCount  = entities |length %}  

    <div class="row">            
        {% if entitiesCount > 0 %}
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">INFORMES</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body">

                        
                            <div class="table-toolbar">
                                <div class="btn-group">
                                    <a href="{{ path('informe_new')}}"><button class="btn btn-success">Agregar <i class="icon-plus icon-white"></i></button></a>
                                </div>
                                <div class="btn-group pull-right">
                                    <button data-toggle="dropdown" class="btn dropdown-toggle">Herramientas <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Imprimir</a></li>
                                        <li><a href="#">Guardar como PDF</a></li>
                                        <li><a href="#">Exportar a Excel</a></li>
                                    </ul>
                                </div>
                            </div>
                            <table class="display table table-bordered" cellspacing="0" width="100%" id="informes">

                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>DNI</th>
                                        <th>Nombre Completo</th>
                                        <th>Fecha de nacimiento</th>                                        
                                        <th>Direccion</th>
                                        <th>Telefono</th>
                                        <th>Celular</th>                                                                                
                                        <th>Sexo</th>                                            
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entity in entities %}
                                        <tr>                                            
                                            <td>{{ entity.id }}</td>
                                            <td>{{ entity.dni }}</td>
                                            <td>{{ entity.nombre ~ " " ~ entity.apellido }}</td>
                                            <td>{{ entity.fechaNacimiento | date('d/m/Y') }}</td>                                                
                                            
                                            <td>{{ entity.direccion }}</td>
                                            <td>{{ entity.telefono }}</td>
                                            <td>{{ entity.celular }}</td>                                            
                                                                                           
                                            <td>
                                                {% if entity.sexo == "m" %}
                                                <i class="label btn-info fa-male">M</i>                                            
                                            {% endif %}                                                
                                            
                                            {% if entity.sexo == "f" %}
                                                <i class="label btn-danger fa-female">F</i>                                            
                                            {% endif %} 
                                            </td>                                                
                                            <td>
                                                <a href="{{ path('certificado_new', { 'id': entity.id }) }}"><i class="fa fa-paperclip"></i></a>
                                                <a href="{{ path('informe_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-edit"></i></a>
                                            </td>  
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info redondeame margin-top-20">
                <a class="close" href="#" data-dismiss="alert">×</a>

                <p>Sin Resultados</p>
            </div>
        {% endif %}
    </div>

    <!-- paginacion -->
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
    <!-- Fin paginación -->


{% endblock %}


{% block javascripts %}
    {% spaceless %}

        {{ parent() }}
        <script type="text/javascript">
             $(function () {

                $('#informes').dataTable({                                        
                    "oLanguage": {
                        "sSearch": "Buscar:",
                        "sZeroRecords": "No hay registros para mostrar",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sInfoEmpty": "No hay entradas para mostrar",
                        "sEmptyTable": "Sin informacion disponible en la tabla",                                                
                        "sInfoFiltered": " - Mostrando de _MAX_ registros",
                        "oPaginate": {
                           "sPrevious": "Pagina Anterior",
                           "sNext": "Pagina siguiente"
                        }
                        
                        
                    },
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
            
            var gears = $('.fa-gears');
            
        </script>

    {% endspaceless %}
{% endblock %}