{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block contenido -%}

        <ul>
        <li>
            <a href="{{ path('turno_new') }}">
                <i class="icon-plus"></i> Agregar Nuevo
            </a>
        </li>
    </ul>
    
    <div class="row-fluid">
        <div class="span12">
            <div class="box box-color box-bordered">
                <div class="box-title redondeame-arriba">
                        <h3>
                            <i class="icon-table"></i>Listado de Turno
                        </h3>
                </div>
                    
                <div class="box-content nopadding redondeame-abajo">
                    <table class="table table-nomargin table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Padresasisten</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('turno_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ entity.hora }}</td>
                                <td>{{ entity.padresAsisten }}</td>
                                <td>
                        <a href="{{ path('turno_show', { 'id': entity.id }) }}" class="btn" title="show"><i class="icon-show"></i></a>
                        <a href="{{ path('turno_edit', { 'id': entity.id }) }}" class="btn" title="edit"><i class="icon-edit"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
        <!-- Paginación -->
        <div class="navigation">
            {{ knp_pagination_render(entities) }}
        </div>
        <!-- Fin paginación -->
    </div>

{% endblock %}
