
{% block cd_autocomplete_widget %}
    
    {% spaceless %}
     
    
    <script type="text/javascript">

       $(function() {
          jQuery(document).ready(function($) {
                   
                   $('#suggest_{{ id }}').autocomplete({
                       source:

                          function( request, response ) {
                           
                           $.ajax({
                               url: "{{path(route_name)}}",
                               dataType: "json",
                               method: "get",
                               data: {
                                   term: this.term,
                                   class: "{{class}}",
                                   property: "{{property}}",
                                   search_method: "{{search_method}}"
                               },
                               success: function( data ) {
                                    response( $.map( data, function( item ) {                                      
                                      return {
                                           label: item.label,
                                           value: item.value,
                                           id: item.id
                                       }
                                    }));
                               }
                            });
                       }
                       ,
                       minLength: 3,
                       
                   });
          });

       });
       
      
    </script>
    <style>
        .ui-autocomplete-loading {
             background: white url('{{asset('bundles/util/ajax-loader.gif')}}') right center no-repeat;
         }
    </style>
    {{ block('hidden_widget') }}

    {% set id = 'suggest_'~id %}
    {% set full_name = 'suggest_'~full_name %}
    {% set value = suggest_value %}    


    <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>

    {% endspaceless %}
{% endblock %}
{# --------------------------------------------------------------------------------------------------------------------------------------------- #}


{% block cd_autocompletefill_widget %}
    
    {% spaceless %}
    <script type="text/javascript">
       
       $(function() {
          jQuery(document).ready(function($) {
                   
                   $('#suggest_{{ id }}').autocomplete({
                       source:

                          function( request, response ) {
                           
                           $.ajax({
                               url: "{{path(route_primary)}}",
                               dataType: "json",
                               method: "get",
                               data: {
                                   term: this.term,
                                   class: "{{class}}",
                                   property: "{{property}}",
                                   search_method: "{{search_method}}"
                               },
                               success: function( data ) {
                                    response( $.map( data, function( item ) {                                      
                                      return {
                                           label: item.label,
                                           value: item.value,
                                           id: item.id
                                       }
                                    }));
                               }
                            });
                       }
                       ,
                       minLength: 3,
                       select: function(event,ui){
                           flag = true;
                           updateValue(ui, "{{ class }}");
                       }
                   });
          });

       });
       
        /* COMIENZO */
       function updateValue(ui, clase){
                
                var hidden = $('#{{ id}}');

                if (ui.item != null){
                    hidden.val(ui.item.id);
                    
                    updateFormFields(ui.item.id, clase);
                }else{
                    hidden.val('');
                    $('#suggest_{{ id}}').val('');
                    //$( "#{{ form.vars.id }}"  ).val('');
                }
       }
       /* FIN */
       
       ///////////WIDGET CHOICE/////////////
        function updateFormFields(hidden, clase){                                                                                                                                                             
                
                $.ajax({
                    type: "POST",
                    dataType: 'html',
                    data: {
                        parentID: hidden,
                        class: clase                                                
                    },
                    url: "{{ path(route_secondary)}}",
                    

                    success: function(data){                              
                        
                        console.log(data);
                        $('#asistencias').html(data)
                     }
                 });
         }

    </script>
    <style>
        .ui-autocomplete-loading {
             background: white url('{{asset('bundles/util/img/ajax-loader.gif')}}') right center no-repeat;
         }
    </style>
    {{ block('hidden_widget') }}

    {% set id = 'suggest_'~id %}
    {% set full_name = 'suggest_'~full_name %}
    {% set value = suggest_value %}    


    <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>

    {% endspaceless %}
{% endblock %}
{# --------------------------------------------------------------------------------------------------------------------------------------------- #}
