{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}


{% block title %}Administracion | Obra Social {% endblock%}   


{% block contenido %}   
    {% set entitiesCount  = entities |length %}  

                        

    <div class="row">            

        <div class="col-md-12">

            <div class="table-toolbar">
                <div class="btn-group">
                    <a href="{{ path('obrasocial_new')}}"><button class="btn btn-success">Agregar <i class="icon-plus icon-white"></i></button></a>
                </div>                                                                                                            


            </div>

        </div>
    </div>


    {% set entitiesCount  = entities |length %} 
    <div class="row">
        {% if entitiesCount > 0 %}
            <div class="col-lg-12 col-xs-12">                



                <div class="box-body box-content">

                    <table summary="Análisis de ventas anuales" class="display table table-bordered" cellspacing="0" width="100%" id="obrasociales">
                        
                        <thead>
                            
                            <tr class="table-header">                                        
                                <th>Razon Social</th>
                                <th>CUIT</th>                                
                                <th>Direccion</th>
                                <th>Telefono</th>                                
                                <th>Email</th>                                            
                                <th>Responsable</th>                                            
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}

                                <tr>                                                                                        
                                    <td>{{ entity.razonSocial }}</td>
                                    <td> {{ entity.cuit }}</td>                                                                          
                                    <td>{{ entity.direccion }}</td>
                                    <td>{{ entity.telefono }}</td>
                                    <td>{{ entity.email }} </td>                                            
                                    <td>{{ entity.responsable }} </td>                                                                               
                                    <td>        
                                        <a href="{{ path('factura_new', { 'id': entity.id }) }}" title="Generar Factura"><i class="fa fa-sheqel"></i></a>
                                        <a href="{{ path('alumno_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-edit"></i></a>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>

                </div>    



            {% else %}
                <div class="alert alert-info redondeame margin-top-20">
                    <a class="close" href="#" data-dismiss="alert">×</a>

                    <p>Sin Resultados</p>
                </div>
            {% endif %}         
        </div>

    </div>

{% endblock %}   


{% block javascripts %}
    {% spaceless %}

        {{ parent() }}
        <script type="text/javascript">
            $(function () {

                $('#obrasociales').dataTable({
                    "oLanguage": {
                        "sSearch": "Buscar:",
                        "sZeroRecords": "No hay registros para mostrar",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sInfoEmpty": "No hay entradas para mostrar",
                        "sEmptyTable": "Sin informacion disponible en la tabla",
                        "sInfoFiltered": " - Mostrando de _MAX_ registros",
                        "oPaginate": {
                            "sPrevious": "Pagina Anterior",
                            "sNext": "Pagina siguiente"
                        }


                    },
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": false,
                    "bAutoWidth": false
                });

                $(".btn-sm").popover();

                

            });



        </script>

    {% endspaceless %}
{% endblock %}