{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}


{% block contenido -%}
<div class="row">
        {{ form_errors(form)}}
    <h1>ObraSocial Crear</h1>

    <form action="{{ path('obrasocial_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                        <span class="glyphicon glyphicon-user"></span>
                        <h3 class="box-title">Datos Personales</h3>
                </div>
                
                <div class="box-body">
                        {% for row in form.children%}
                        <div class="form-group">
                            <label class="control-label" for="{{ row.vars.id}}" >{{ row.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(row)}}
                        </div>   
                        {% endfor %}
                </div>   
            </div>    
        {{ form_widget(form) }}
        <p>
            <button type="submit">Crear</button>
        </p>
        </div>
    </form>
</div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('obrasocial') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
