{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% set label_boton = 'Guardar' %}

{% block title  %}
    Usuario | Edit
{% endblock  %}


{% block contenido %}
    <div class="row">
        {{ form_errors(form)}}
        <form class="form-horizontal form-column" id="alumno-form" action="{{ path('usuario_update', { 'id': usuario.id }) }}" method="post" {{ form_enctype(form) }}>                                        


            <div class="col-md-6">

                <div class="box box-primary">
                    <div class="box-header">
                        <span class="glyphicon glyphicon-user"></span>
                        <h3 class="box-title">Datos</h3>

                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label" for="{{ form.username.vars.id}}" >{{ form.username.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.personal)}}
                            {{ form_widget(form.username)}}
                        </div> 

                        <div class="form-group">
                            <label class="control-label" for="{{ form.email.vars.id}}" >{{ form.email.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.email)}}
                        </div>

                        <input type="hidden" id="x" name="x" />
                        <input type="hidden" id="y" name="y" />            
                        <input type="hidden" id="w" name="w" />
                        <input type="hidden" id="h" name="h" />  

                        <div class="form-group">
                            <label class="control-label" for="{{ form.plainPassword.vars.id}}" >{{ form.plainPassword.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.plainPassword)}}
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.roles.vars.id}}" >{{ form.roles.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.roles)}}
                        </div>

                        {{ form_rest(form)}}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <img id="preview" 
                     {% if usuario.foto is not null %} 
                         src="{{ asset('foto') ~'/'~ usuario.foto }}"
                     {% endif %}
                     width="250" height="250" /> 
                {{ form_widget(form.file)}}
            </div>            
        </form>
    </div>


{% endblock contenido %}