{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block title %} Usuarios | Perfil{% endblock %} 
    
{% block contenido %}   
    <div class="row">
    <div class="col-md-6">
                            <div class="box box-info">
                                <div class="box-header">
                                    <i class="fa fa-bullhorn"></i>
                                    <h3 class="box-title">PERFIL</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    
                                    <div class="callout callout-info">
                                        <h4>Usuario: {{ usuario.username }} </h4>
                                        <p> E-Mail: {{ usuario.email }}</p>
                                        <p> Cargo: {{ usuario.personal.cargo }}</p>
                                        <p> Nombre completo: {{ usuario.personal }}</p>
                                    </div>
                                    
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
        </div>
{% endblock %}    