{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}


{% block contenido -%}
<div class="row">
        {{ form_errors(form)}}
    <h1>Articulo</h1>

    <form action="{{ path('inventario_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                        
                        <h3 class="box-title">Datos</h3>
                </div>
                
                <div class="box-body">
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.nombre.vars.id}}" >{{ form.nombre.vars.label  }}<span class="required">*</span></label>
                            {{ form_widget(form.nombre)}}
                        </div>   
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.descripcion.vars.id}}" >{{ form.descripcion.vars.label  }}</label>
                            {{ form_widget(form.descripcion)}}
                        </div>   
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.cantidad.vars.id}}" >{{ form.cantidad.vars.label  }}</label>
                            {{ form_widget(form.cantidad)}}
                            {{ form_rest(form) }}
                        </div> 
                        
                </div>   
            </div>    
                        
            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>                            
                    <a  href="{{ path('inventario') }}" class="btn btn-default">Volver</a>

                </div>

            </div>             
        
        </div>
    </form>
</div>

        
{% endblock %}
