{% trans_default_domain 'FOSUserBundle' %}

<h4 class="page-header">
    Cambiar la contraseña
    <small>Small boxes are used for viewing statistics. To create a small box use the class </small>
</h4>
<div class="row">


    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </form>

</div>    
