{% block extends %}
{{ "{% extends 'ThemeBundle::layout_base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}

    {% if 'new' in actions %}
    <ul>
        <li>
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">
                <i class="icon-plus"></i> Agregar Nuevo
            </a>
        </li>
    </ul>
    {% endif %}

    <div class="row-fluid">
        <div class="span12">
            <div class="box box-color box-bordered">
                <div class="box-title redondeame-arriba">
                        <h3>
                            <i class="icon-table"></i>Listado de {{ entity }}
                        </h3>
                </div>
                    
                <div class="box-content nopadding redondeame-abajo">
                    <table class="table table-nomargin table-bordered">
                        <thead>
                            <tr>
                            {%- for field, metadata in fields %}

                                <th>{{ field|capitalize }}</th>

                            {%- endfor %}

                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{ '{% for entity in entities %}' }}
                            <tr>

                        {%- for field, metadata in fields %}
                            {%- if loop.first and ('show' in actions) %}

                                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                            {%- elseif metadata.type in ['date', 'datetime'] %}

                                <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                            {%- else %}

                                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                            {%- endif %}

                            {%- if loop.last %}

                                <td>
                                    {%- include "crud/views/others/actions.html.twig.twig" %}
                                </td>

                            {%- endif %}
                        {%- endfor %}

                            </tr>
                        {{ '{% endfor %}' }}
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
        <!-- Paginación -->
        <div class="navigation">
            {{ '{{ knp_pagination_render(entities) }}' }}
        </div>
        <!-- Fin paginación -->
    </div>

{{ "{% endblock %}" }}
{% endblock body %}