{% block extends %}
{{ "{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}" }}
{% endblock extends %}


{% block contenido %}
{{ "{% block contenido -%}" }}
<div class="row">
        {{ "{{ form_errors(form)}}" }}
    <h1>{{ entity }} Crear</h1>

    <form action="{{ "{{ path('" ~ route_name_prefix ~ "_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                        <span class="glyphicon glyphicon-user"></span>
                        <h3 class="box-title">Datos Personales</h3>
                </div>
                
                <div class="box-body">
                        {{ "{% for row in form.children%}" }}
                        <div class="form-group">
                            <label class="control-label" for="{{ "{{ row.vars.id}}" }}" >{{ "{{ row.vars.label }}" }}<span class="required">*</span></label>
                            {{ "{{ form_widget(row)}}" }}
                        </div>   
                        {{ "{% endfor %}" }}
                </div>   
            </div>    
        {{ "{{ form_widget(form) }}" }}
        <p>
            <button type="submit">Crear</button>
        </p>
        </div>
    </form>
</div>

    {% set hide_edit, hide_delete = true, true %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}
{% endblock contenido %}
