{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block title %} Agenda | Semanal {% endblock title %}

{% block stylesheets %}    
    {{ parent()}}

    <style>
        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }
    </style>    

{% endblock %} 

{% block contenido -%}
    

    <div class="row alertas" style="display:none;">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header">
                    <i class="fa fa-warning"></i>
                    <h3 class="box-title">Alertas</h3>
                </div><!-- /.box-header -->
                <div class="box-body">                                    
                    <div class="alert alert-warning alert-dismissable">
                        <i class="fa fa-warning"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Atencion!</b> Aun no se ha cargado horario para esta semana.
                    </div>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
    <div class="row horarioProfesor">        
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">Talleres</h4>
                </div>
                <div class="box-body">
                    <!-- the events -->
                    <div id="external-events">
                        {% for taller in talleres %}                                        
                            <div class="fc-event external-event bg-aqua ui-draggable ui-draggable-handle" style="position: relative;">
                                <i class="fa fa-laptop"></i>
                                {{ taller.nombre}}
                                <input type="hidden" id="{{ taller.nombre }}" value="{{ taller.id }}"/>
                                <input type="hidden" id="inicial" value="{{ horarioInicial }}"/>
                            </div>                                        
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="box-primary">                
                <button type="button" class="btn btn-primary" id="guardar" style="display:block">Guardar</button>                    
            </div>    

            {% if horarioInicial != true %}
                <div class="row configuracion">
                    <div class="box box-solid bg-aqua">
                        <div class="box-header">
                            <h3 class="box-title">Crear Configuracion Inicial</h3>
                        </div>
                        <div class="box-body">
                            <button type="button" class="btn btn-primary crear" data-toggle="modal" data-target="#ventanaCrear">Crear Horario Inicial</button>
                            <button type="button" class="btn btn-primary" id="guardar" style="display:none">Guardar</button>
                            <ol>
                                <li>Click en el boton crear horario</li>
                                <li>Guardar</li>
                            </ol>

                        </div>
                    </div>
                </div>            
            {% endif %}  


        </div>



        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div id="calendar">
                    </div><!-- /.box-body -->
                </div><!-- /. box -->
            </div><!-- /.col -->
        </div>
    </div>

    <div class="modal fade" id="ventanaCrear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel"></i>Crear configuracion incial</h4>
                </div>
                <div class="modal-body">
                    <p>Ahora puede arrastrar los talleres al calendario para establecer su horario inicial</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>        
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL AVISO OK CARGA CONFIGURACION INICIAL-->
    <div class="modal fade" id="message-sucess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Configuracion inicial</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success alert-dismissable">
                        <i class="fa fa-check"></i>

                        <p>Se ha guardado correctamente la configuracion inicial</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>        
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmHorarioInicial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Configuracion inicial</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">
                        <ul class="fa-ul">
                            <li>
                                <i class="fa fa-info-circle fa-lg fa-li"></i>

                                <p>Esta por establecer el siguiente horario como inicial. ¿ Esta Seguro ?</p>

                            </li>
                        </ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>        
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>        
                </div>
            </div>
        </div>
    </div>                        
{% endblock %}



{% block javascripts %}
    {% spaceless %}
        {{ parent() }}        
        <script src="{{asset('bundles/theme/js/plugins/bootbox.min.js')}}" ></script>



        <script type="text/javascript">

            var arrayOfEvents = [];
            var horarios = [];
            var flag = false;
            var wizard = false;

            $(function () {
                //calendario = $('#calendario');
                //armarCalendario(calendario);

                $('.horarioProfesor').on('click', '.crear', function () {
                    allowArrastrar();
                    $('.crear').hide();

                });

                $('.horarioProfesor').on('click', '#guardar', function () {
                    events = $('#calendar').fullCalendar('clientEvents');
                    bootbox.confirm("Esta por establecer el siguiente horario como inicial. ¿ Esta Seguro ?", function (result) {
                        if (result) {
                            updateSchedule(horarios);
                        } else {
                            return false;
                        }
                    });

                });



                var currentLangCode = 'es';

                var current = '{{"now"|date('Y-m-d')}}';


                $('#calendar').fullCalendar({
                    header: {
                        left: 'today prev,next',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    views: {
                        agendaWeek: {
                            type: 'agenda',
                            duration: {days: 5},
                            buttonText: '5 dias'
                        }
                    },
                    columnFormat: {
                        month: 'ddd',
                        week: 'ddd ',
                        day: 'dddd M/d'
                    },
                    firstDay: 1,
                    weekends: false,
                    //theme: true,
                    timezone: 'America/Argentina/Buenos_Aires',
                    defaultView: 'agendaWeek',
                    //minTime: '8:00am',
                    //maxTime: '18:00pm',
                    defaultDate: current,
                    lang: currentLangCode,
                    editable: true,
                    dragRevertDuration: 0,
                    droppable: true,
                    drop: function () {
                        if ($('#drop-remove').is(':checked')) {
                            // if so, remove the element from the "Draggable Events" list
                            $(this).remove();
                        }
                    },
                    eventReceive: function (event) {
                        var horario = new Object();
                        horario.tallerID = event.id;
                        horario.taller = event.title;
                        horario.fecha = moment(event.start).format("YYYY-MM-DD");
                        horario.horaInicio = moment(event.start).format("HH:mm:ss");
                        if (event.end != null) {
                            horario.horaFin = moment(event.end).format("HH:mm:ss");
                        }

                        horarios.push(horario);
                        console.log(horarios);
                        //$('#guardar').attr('disabled', false);
                        $('#guardar').show();
                        $('.crear').hide();
                        $('.alertas').hide();
                        $('.configuracion').hide();
                        
                    },
                    eventLimit: true, // allow "more" link when too many events

                    events: function (start, end, timezone, callback) {
                        $.ajax({
                            url: '{{ path('academico_ajax_horario_semanal')}}',
                            dataType: 'json',
                            method: 'get',
                            data: {
                                start: start.format(),
                                end: end.format()
                            },
                            success: function (response) {
                                var events = [];
                                if (response.status == "ok") {
                                    if (!!response) {
                                        $(response.results).each(function (index, evento) {
                                            fechaInicio = createDateFormDay(evento);
                                            fechaFinal = createHourEnd(evento);
                                            events.push({
                                                id: evento.id,
                                                title: evento.nombre,
                                                className: 'success',
                                                textColor: '#fff',
                                                editable: false,
                                                url: "{{ path('horario_ver', { id: 1 })}}",
                                                start: fechaInicio,
                                                end: fechaFinal,
                                            });
                                        });
                                    }

                                    callback(events);

                                } else {

                                    $('.alertas').show();
                                }


                            }

                        });
                    },
                    eventColor: 'blue',
                    textColor: '#fff',
                });

            });


            function updateSchedule(horarios) {

                var events = JSON.stringify(horarios);

                flag = $('#inicial').val();

                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "{{ path('academico_ajax_horario_create')}}",
                    data: 'data=' + events + '&isConfiguracionInicial=' + flag,
                    success: function (response) {
                        console.log(wizard);
                        if (wizard == true) {
                            bootbox.confirm("El horario semanal se ha cargado exitosamente, ¿ desea verlo en el calendario?", function (result) {
                                if (result) {
                                    $('#calendar').fullCalendar('refetchEvents');
                                    $('#guardar').attr('disabled', true);
                                }
                            });

                            return false;
                        } else {
                            bootbox.confirm("Ha establecido su horario inicial correctamente ¿ Desea cargar este horario semanal ?", function (result) {

                                if (result) {
                                    wizard = true;
                                    $('#inicial').attr("value", true);
                                    updateSchedule(horarios);
                                } else {
                                    return false;
                                }
                            });
                        }

                    },
                    error: function (response) {
                        alert("Ha ocurrido un error al establecer el horario inicial !intentelo nuevamente");
                        console.log(response);
                    }
                });
            }


        </script>

        <script src="{{ asset('bundles/theme/js/academico.js') }}" type="text/javascript"></script>

    {% endspaceless %}
{% endblock %}
