{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block title %} Agenda | Semanal {% endblock title %}

{% block stylesheets %}    
    {{ parent()}}

    <style>
        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }
    </style>    

{% endblock %} 

{% block contenido -%}
    <h4 class="page-header">
        <span class="glyphicon glyphicon-calendar"></span>
        Horario Semanal 
        <small>aca deberia ir otra cosa </small>
    </h4>

    <div class="row alertas" style="display:block;">


        <div class="col-md-12">
            {% if horarioInicial != true%}                           
                {% if talleres | length > 0 %}
                    <div class="alert alert-info alert-dismissable">
                        <i class="fa fa-warning"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Atencion!</b> Para crear la configuracion inicial: <b>1. Click en el boton crear horario.<b> 2. Guardar.</b>                        
                    </div>
                {% endif %}
            {% endif %}

        </div>
    </div>
    <div class="row horarioProfesor">   
        <section class="info">
            <div class="col-md-3">
                <!-- Info box -->
                <div class="box box-solid bg-aqua">
                    <div class="box-header">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <h3 class="box-title">Informacion General</h3>
                    </div>
                    <div class="box-body">
                        <div id="external-events">
                            {% if talleres | length > 0 %}
                                {% for taller in talleres %}                                        
                                    <div class="fc-event external-event bg-aqua ui-draggable ui-draggable-handle" style="position: relative;">Taller:
                                        <i class="fa fa-laptop"></i>
                                        {{ taller.nombre }} 
                                        <i class="fa fa-users"></i>{{ taller.alumnos | length  }}
                                        <input type="hidden" id="{{ taller.nombre }}" value="{{ taller.id }}"/>
                                        <input type="hidden" id="inicial" value="{{ horarioInicial }}"/>
                                    </div>     
                                    <div class="info">
                                        22 Horas Semanales
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>
                                    <i class="fa fa-fw fa-ban danger"></i>
                                    No tiene asignado ningun taller
                                    <a href="{{ path('personal_edit', { 'id': app.user.personal.id }) }}"><i class="fa fa-plus-circle"></i></a>
                                    
                                </p>
                                
                                    {% endif %}

                        </div>


                    </div>
                </div>

                <!--BOTONES-->
                {% if talleres | length > 0 %}
                    <div class="box box-solid bg-aqua">
                        <div class="box-header">
                            <h3 class="box-title">Funciones</h3>
                        </div>
                        <div class="box-body">
                            <div id="leyenda">
                                <ol>
                                    <button type="button" class="btn btn-primary crear" data-toggle="modal" data-target="#ventanaCrear">Crear Horario Inicial</button>
                                    <button class="btn btn-success btn-sm" id="guardar">Guardar</button>                                
                                </ol>                                                                                   
                            </div>

                            <p>

                            </p>
                        </div>
                    </div>
                {% endif %}

                <!--LEYENDA-->            
                <div class="box box-solid bg-aqua">
                    <div class="box-header">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        <h3 class="box-title">Leyenda</h3>
                    </div>
                    <div class="box-body">
                        <div id="leyenda">
                            <ol>
                                <li><button class="btn btn-success btn-sm"></button>Horarios Propios</li>
                                <li><button class="btn btn-warning btn-sm"></button>Asistencias Cargadas</li>
                                <li><button class="btn btn-danger btn-sm"></button>Otros Horarios</li>
                            </ol>                                                                                   
                        </div>

                        <p>

                        </p>
                    </div>
                </div>


            </div>
        </section>



        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div id="calendar">
                    </div><!-- /.box-body -->
                </div><!-- /. box -->
            </div><!-- /.col -->
        </div>
    </div>

    <div class="modal fade" id="ventanaCrear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel"></i>Crear configuracion incial</h4>
                </div>
                <div class="modal-body">
                    <p>Ahora puede arrastrar los talleres al calendario para establecer su horario inicial</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>        
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL AVISO OK CARGA CONFIGURACION INICIAL-->
    <div class="modal fade" id="message-sucess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Configuracion inicial</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success alert-dismissable">
                        <i class="fa fa-check"></i>

                        <p>Se ha guardado correctamente la configuracion inicial</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>        
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmHorarioInicial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Configuracion inicial</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">
                        <ul class="fa-ul">
                            <li>
                                <i class="fa fa-info-circle fa-lg fa-li"></i>

                                <p>Esta por establecer el siguiente horario como inicial. ¿ Esta Seguro ?</p>

                            </li>
                        </ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>        
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>        
                </div>
            </div>
        </div>
    </div>                        
{% endblock %}



{% block javascripts %}
    {% spaceless %}
        {{ parent() }}        
        <script src="{{asset('bundles/theme/js/plugins/bootbox.min.js')}}" ></script>



        <script type="text/javascript">
            var block = false;
            var arrayOfEvents = [];
            var horarios = [];
            var flag = false;
            var wizard = false;
            var clase = null;
            var edicion;
            $(function () {
                tieneConfiguracionInicial = "{{ horarioInicial }}";
                if (tieneConfiguracionInicial == true) {
                    allowArrastrar();
                }
                //calendario = $('#calendario');
                //armarCalendario(calendario);

                $('.horarioProfesor').on('click', '.crear', function () {
                    allowArrastrar();
                    $('.crear').hide();
                });
                $('.horarioProfesor').on('click', '#guardar', function () {
                    events = $('#calendar').fullCalendar('clientEvents');
                    bootbox.confirm("Esta por establecer el siguiente horario como inicial. ¿ Esta Seguro ?", function (result) {
                        if (result) {
                            updateSchedule(horarios);
                        } else {
                            return false;
                        }
                    });
                });
                var currentLangCode = 'es';
                var current = '{{"now"|date('Y-m-d')}}';
                $('#calendar').fullCalendar({
                    header: {
                        left: 'today prev,next',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    views: {
                        agendaWeek: {
                            type: 'agenda',
                            duration: {days: 5},
                            buttonText: '5 dias'
                        }
                    },
                    columnFormat: {
                        month: 'ddd',
                        week: 'ddd ',
                        day: 'dddd M/d'
                    },
                    firstDay: 1,
                    weekends: false,
                    //theme: true,
                    timezone: 'America/Argentina/Buenos_Aires',
                    defaultView: 'agendaWeek',
                    slotEventOverlap: false,
                    slotDuration: '01:00:00',
                    //minTime: '8:00am',
                    //maxTime: '18:00pm',
                    defaultDate: current,
                    lang: currentLangCode,
                    editable: true,
                    dragRevertDuration: 0,
                    droppable: true,
                    drop: function () {
                        if ($('#drop-remove').is(':checked')) {
                            // if so, remove the element from the "Draggable Events" list
                            $(this).remove();
                        }
                    },
                    eventReceive: function (event) {
                        var horario = new Object();
                        horario.tallerID = event.id;
                        horario.taller = event.title;
                        horario.fecha = moment(event.start).format("YYYY-MM-DD");
                        horario.horaInicio = moment(event.start).format("HH:mm:ss");

                        var url = '{{ path('horario_ver', {'id': 'horario_id'}) }}';
                        url = url.replace("horario_id", event.id);

                        horario.url = url;

                        if (event.end != null) {
                            horario.horaFin = moment(event.end).format("HH:mm:ss");
                        }

                        horarios.push(horario);

                        $('#guardar').attr('disabled', false);

                        $('.crear').hide();
                        $('.alertas').hide();
                        $('.configuracion').hide();
                    },
                    eventResizeStop: function (event, jsEvent, ui, view) {
                        console.log(event);
                    },
                    eventLimit: true, // allow "more" link when too many events

                    events: function (start, end, timezone, callback) {
                        $.ajax({
                            url: '{{ path('academico_ajax_horario_semanal_test')}}',
                            dataType: 'json',
                            method: 'POST',
                            data: {
                                start: start.format(),
                                end: end.format()
                            },
                            success: function (response) {
                                var events = [];
                                if (response.status == "ok") {
                                    console.log(response.results);
                                    if (!!response) {
                                        console.log(response.results);
                                        $(response.results).each(function (index, evento) {
                                            personal = parseInt(evento.personal);
                                            asistencias = parseInt(evento.asistencias);

                                            fechaInicio = createDateFormDay(evento);

                                            fechaFinal = createHourEnd(evento);

                                            if (personal == {{ app.user.personal.id }}) {
                                                clase = 'green';
                                                edicion = true;
                                                var url = '{{ path('horario_ver', {'id': 'horario_id'}) }}';
                                                url = url.replace('horario_id', evento.horarioId);
                                            } else {
                                                clase = 'red';
                                                edicion = false;
                                                url = '#';
                                            }

                                            if (asistencias > 0) {
                                                clase = 'yellow';
                                            }



                                            events.push({
                                                id: evento.id,
                                                title: evento.nombre,
                                                backgroundColor: clase,
                                                textColor: '#fffcc',
                                                editable: edicion,
                                                url: url,
                                                start: fechaInicio,
                                                end: fechaFinal,
                                            });
                                        });
                                    }

                                    callback(events);
                                } else {
                                    alert("No tiene cargado el horario");
                                    $('.alertas').show();
                                    $('#calendario').fullCalendar('destroy' );
                                    $('#calendario').fullCalendar('option', 'aspectRatio', 1.8);
                                }


                            }

                        });
                    },
                    //eventColor: 'blue',
                    //textColor: '#fff',
                });

            });
            function updateSchedule(horarios) {

                var events = JSON.stringify(horarios);
                flag = $('#inicial').val();
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "{{ path('academico_ajax_horario_create')}}",
                    data: 'data=' + events + '&isConfiguracionInicial=' + flag,
                    success: function (response) {
                        console.log(wizard);
                        if (wizard == true) {
                            bootbox.confirm("El horario semanal se ha cargado exitosamente, ¿ desea verlo en el calendario?", function (result) {
                                if (result) {
                                    $('#calendar').fullCalendar('refetchEvents');
                                    $('#guardar').attr('disabled', true);
                                }
                            });
                            return false;
                        } else {
                            bootbox.confirm("Ha establecido su horario inicial correctamente, se carga este horario como semanal", function (result) {

                                if (result) {
                                    wizard = true;
                                    $('#inicial').attr("value", true);
                                    updateSchedule(horarios);
                                } else {
                                    return false;
                                }
                            });
                        }

                    },
                    error: function (response) {
                        alert("Ha ocurrido un error al establecer el horario inicial !intentelo nuevamente");
                        console.log(response);
                    }
                });
            }

            $(document).ajaxStart(function () {

                bloquearPantalla("{{ asset('bundles/theme/img/ajax-loader.gif') }}");
                block = true;
            }).ajaxStop(function () {
                //$.unblockUI
                if (block) {
                    desbloquearPantalla();

                }
            }
            );


        </script>

        <script src="{{ asset('bundles/theme/js/academico.js') }}" type="text/javascript"></script>

    {% endspaceless %}
{% endblock %}
