{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block stylesheets %}    
    {{ parent()}}    
    <style>



        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }


        #wrap {
            width: 1100px;
            margin: 0 auto;
        }

        #external-events {
            float: left;
            width: 150px;
            padding: 0 10px;
            border: 1px solid #ccc;
            background: #eee;
            text-align: left;
        }

        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }

        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }

        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            color: #666;
        }

        #external-events p input {
            margin: 0;
            vertical-align: middle;
        }

        #event_generation_wrapper .left{
            float: left;
            width: 70px;
        }

        #event_generation_wrapper .right{
            float: left;
            max-width: 25px;
            margin-left: 10px;
        }

        #event_generation_wrapper input{
            width: 112px;
        }

        #event_generation_wrapper textarea{
            width: 110px;	
            height: 50px;
        }

        #event_generation_wrapper .miniColors-triggerWrap{	
            margin-bottom: 5px;
        }

        #event_generation_wrapper .text{
            padding-top: 1px;	
            margin-bottom: 5px;
            line-height: 10px;
        }


    </style>
{% endblock %} 

{% block contenido -%}
    <div id='wrap'>
        <div id='external-events'>

            <h4>Talleres</h4>			                        
            {% for taller in talleres %}
                <div class='fc-event'>
                    {{ taller.nombre}}    
                    <input type="hidden" id="{{ taller.nombre }}" value="{{ taller.id }}"/>
                </div>
                
            {% endfor %}


            <p>
                <input type='checkbox' id='drop-remove' />
                <label for='drop-remove'>remove after drop</label>
                {% if horarioInicial | length > 0 %}
                    <button class="btn btn-primary guardar" disabled="true">Guardar</button>
                {% else %}
                    <button class="btn btn-primary guardar">Cargar Horario Inicial</button>

                {% endif %}
            </p>
            
        </div>


        <div id='calendar'>

        </div>
        
        <div style='clear:both'></div>
    </div>




{% endblock %}




{% block javascripts %}
    {% spaceless %}
        {{ parent() }}


        <script type="text/javascript">
            
            
            var arrayOfEvents = [];
            var horarios = [];
            var horas;
            
            
            $(function () {
                                
                    var currentLangCode = 'es';
                    
                    var current = '{{"now"|date('Y-m-d')}}';
                    $('#external-events .fc-event').each(function () {

                        // store data so the calendar knows to render an event upon drop
                        $(this).data('event', {
                            id: $(this).find('input').val(),
                            title: $.trim($(this).text()), // use the element's text as the event title
                            stick: true // maintain when user navigates (see docs on the renderEvent method)
                        });

                        // make the event draggable using jQuery UI
                        $(this).draggable({
                            zIndex: 999,
                            revert: true, // will cause the event to go back to its
                            revertDuration: 0  //  original position after the drag
                        });

                    });                                        
                    
                    
                    $('#calendar').fullCalendar({
                        header: {
                            left: 'today prev,next',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        views: {
                            agendaWeek: {
                                type: 'agenda',
                                duration: {days: 5},
                                buttonText: '5 day'
                            }
                        },
                        columnFormat: {
                            month: 'ddd',
                            week: 'ddd dd/MM',
                            day: 'dddd M/d'
                        },
                        weekends: false,
                        theme: true,
                        timezone: 'America/Argentina/Buenos_Aires',
                        defaultView: 'agendaWeek',
                        minTime: '8:00am',
                        maxTime: '18:00pm',
                        defaultDate: current,
                        lang: currentLangCode,
                        editable: true,
                        dragRevertDuration: 0,                        
                        droppable: true,
                        drop: function () {                                                       
                            if ($('#drop-remove').is(':checked')) {
                                // if so, remove the element from the "Draggable Events" list
                                $(this).remove();
                            }                                                         
                        },
                        eventReceive: function (event){
                            
                            var horario = new Object();
                            horario.tallerID = event.id;
                            horario.taller = event.title;
                            horario.fecha = moment(event.start).format("YYYY-DD-MM");
                            horario.horaInicio = moment(event.start).format("HH:mm");
                            horario.horaFin = moment(event.start).format("HH:mm");
                            
                            horarios.push(horario);                            
                        },
                        eventLimit: true, // allow "more" link when too many events
                        events: [
                            {
                                id: 10,
                                title: 'Pintura',
                                start: '2015-02-16T10:00:00',
                                backgroundColor: 'red',
                                editable: false,
                                url: 'http://google.com/'

                            },
                            {
                                id: 2,
                                title: 'Informatica',
                                start: '2015-02-18T12:00:00',
                                backgroundColor: 'green'
                            },
                            {
                                id: 3,
                                title: 'Plastica',
                                start: '2015-02-18T14:00:00',
                                backgroundColor: 'orange'
                            },
                            {
                                id: 4,
                                title: 'Cocina',
                                start: '2015-02-18T16:00:00',
                                backgroundColor: 'yellow'
                            }

                        ],
                        timeFormat: 'H(:mm)',
                        color: 'orange',   // an option!
                        textColor: 'green', // an option!                                                

                    });


                    $('#external-events').on('click', '.guardar', function () {
                        events = $('#calendar').fullCalendar( 'clientEvents');
                        updateSchedule();
                        
                    }
                    );
                    
                   

                });

                
                function updateSchedule(){                                        
                    
                    var events = JSON.stringify(horarios);
                    
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: "{{ path('academico_ajax_horario_create')}}",
                        data: 'data='+events,
                        success: function(response){ 
                            alert(response);     
                        },
                        error: function(response){ 
                            alert(response);     
                        }        
                    });
                }
        </script>

    {% endspaceless %}
{% endblock %}


