{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block stylesheets %}
    {% spaceless %}
        {{ parent() }}

        <link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.7/fullcalendar.min.css" rel="stylesheet" type="text/css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.7/fullcalendar.print.css" rel="stylesheet" type="text/css" />
    {% endspaceless %}
{% endblock  %}

{% block contenido -%}
    <div class="row">
        {{ form_errors(form)}}
        <h1>Horario Crear</h1>

        <form action="{{ path('horario_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="col-md-6">
                <div class="box box-primary">                                
                    <div class="box-header">
                        <span class="glyphicon glyphicon-user"></span>
                        <h3 class="box-title">Datos</h3>


                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            
                            <div class="input-group">
                                {{ form_widget(form.hora)}}
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                    
                            </div>
                        </div>                                                     
                                                   
                        
                        <div class="form-group">
                            <label class="control-label" for="{{ form.dia.vars.id}}" >{{ form.dia.vars.label }}<span class="required">*</span></label>
                            {{ form_widget(form.dia)}}
                            
                        </div>
                        
                        <div class="form-group">
                            
                            {{ form_widget(form.talleres)}}
                            
                        </div>
                        
                        <div class="form-group">
                            
                            {{ form_widget(form.inicial)}}
                            {{ form_widget(form._token) }}
                        </div>

                        <div class="form-group">
                            <button type="submit">Crear</button>
                        </div>
                    </div> 

                </div>
            </div>    
    </div>
</form>
</div>


{% endblock %}

{% block javascripts %}
    {% spaceless %}
        {{ parent() }}
        
        <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.7/fullcalendar.min.js" type="text/javascript"></script>-->
        <script type="text/javascript">
            $(function () {
            /*var calendar = $("#calendar").calendar(
                {
                    tmpl_path: "{{ asset('bundles/theme/js/plugins/bootstrap-calendar-master/tmpls/') }}",
                    events_source: function () { return []; },
                    language: 'es-ES'
                }); */
                $('.timepicker').timepicker({
                    showInputs: false
                });
            });    
        </script>


    {% endspaceless %}
{% endblock  %}  

