{% extends 'ThemeBundle:Bootstrap:layout_base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}    
    <link href="{{asset('bundles/theme/js/plugins/asmSelect/css/jquery.asmselect.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/theme/js/plugins/jquery-mt-select/css/style.css')}}" rel="stylesheet" type="text/css" />

{% endblock stylesheets %}

{% block title %} Academico | Asistencia {% endblock %}

{% set action = path('horario_marcar_asistencias' , {'id': horario.id }) %}    


{% block contenido %}                                                            
    <section class="content invoice">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <i class="glyphicon glyphicon-list"></i>
                        <h3 class="box-title">Asistencias</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="callout callout-info">
                            <h4>Tome la asistencia!</h4>
                            <p>otra descripcion nose.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> 
                    {% for taller in horario.talleres %}
                        {{ taller.nombre }}
                    {% endfor%}    
                    <small class="pull-right">
                        {{ horario.fecha | date('d/m/Y')}}
                        
                    </small>
                </h2>
            </div><!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                Profesional
                <personal>
                    <strong>{{ app.user.personal.nombre }}</strong><br>
                    <br>                                        
                    Email: {{ app.user.username }}
                </personal>
            </div>


        </div>

        <!-- Table row -->
        <div class="row">                   
            {{ form_errors(form)}}

            <form class="form-horizontal form-column" id="asistencia-form" action="{{ action }}" method="post" {{ form_enctype(form) }}>                                        
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>                                        
                                <th>Alumno</th>                                                                                                                        
                                <th>Asistio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for field in form.asistenciaDetalle %}

                                <tr>
                                    <td>
                                        {{ form_widget(field.alumno)}}
                                        {{ field.vars.value.alumno.apellido ~" "~ field.vars.value.alumno.nombre }}
                                    </td>
                                    <td>{{ form_widget(field.asistio)}}</td>

                                </tr>
                            {% endfor%}   
                        </tbody>
                    </table>
                    {{ form_rest(form)}}
                </div>
                <div class="row no-print">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary">Guardar<i class="glyphicon glyphicon-save"></i></button>                            
                        <button href="{{ path('horario_test') }}" class="btn btn-primary">Volver</button>                
                    </div>
                </div>
            </form>
        </div>



    </section>                        
{% endblock contenido %}  




